.dragging-ground {
  height: 100%;
  width:100%;

  .dragging-ground-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:110;

    cursor: move;
  }


  .detachedGhost {
    position: fixed;
    pointer-events: none;
    z-index:99999;
    width: 100px;
    .shadow-blur {
      filter : blur(10px);
    }
    .shadow {
      filter : brightness(-100);
    }

    img {
      width: 100px;
    }

    .ori, .shadow-blur {
      position: absolute;
      top:0;
    }

    .ori {
      z-index: 2;
    }
  }
}
