.publisher {
  .publishing-entity {
    .head {
      padding:10px;

      .ui-item {
        margin-right:10px;
        .label {
          padding-right: 10px;
        }
        input {
          display: inline-block;
        }
      }



    }

    .details {

    }

    border-bottom:1px solid #dcdcdc;
  }
}

.light-theme {
  .publisher {
    .publishing-entity {

    }
  }
}
