.tool.pages {
  .node-tree-wrapper {


    ul.graph-node>li.item {
      font-size: 14px;
      white-space: nowrap;
      background-color: #040a10;
      margin: 5px;
      color: #0f7de2;
      padding: 5px;
      border-radius: 10px;
    }
  }

  .footer {

    .button {
      height:29px;
    }
  }


  button.node-option {
    height: 21px;
    padding:0;
    outline:none;

    cursor: pointer;

    color: #d1d1d1;

    &:hover {
      color : #fff;
    }
  }
}
