.file-previewer {
  width: 120px;

  display: inline-block;
  margin-right: 5px;

  .file-real {
    position: relative;
    width: 100%;

    img {
      max-width: 100%;
    }

    padding: 3px;
    border: 1px solid #1856bb;
    border-radius: 5px;

    box-sizing: border-box;

    .close {
      opacity: 0;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.31);
      width: 100%;
      height: 100%;
      position: absolute;
      outline: none;
      left : 0px;
      top : 0px;
      border-radius: 5px;

      transition: opacity 0.3s;
      cursor:pointer;
      &:hover {
        opacity: 1;
      }
    }
  }

  .title {
    width: 100%;
    text-align: center;
    padding: 5px;

    white-space: nowrap;

    .nickname {
      max-width: 90px;
      white-space: nowrap;
      display: inline-block;
      vertical-align: middle;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .ext {
      width: 30px;
      display: inline-block;
      text-align: left;
    }
  }


}
