.tool {
  position: relative;
  width:100%;
  height:100%;

  .header {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    background-color: #1179ff;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid #3b91ff;

    top:0px;

    .icon-wrapper {
      font-size:14px;

      img {
        width:1em;
      }
    }

    .actions {
      position: absolute;
      right: 5px;
      top: 3px;
      font-size:16px;

      button {
        background-color: rgba(0,0,0,0);
        border:0;
        display: inline-block;
        outline : none;
        padding:0;
        margin:0 2px;;
        cursor:pointer;
        height: 24px;

        &:active {
          color:#fff;
        }

        .active {

        }
      }


      .inject-actions {
        display: inline-block;
      }
    }
  }

  .body {
    position: absolute;
    top:30px;
    bottom:50px;
    width:100%;

    &.no-footer {
      bottom:0px;
    }

    background-color: #0b3e54;



    &.overflow-auto {
      overflow: auto;
    }
  }

  .footer {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    background-color: #062735;
    text-align: center;
    //padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
    border-top: 1px solid #11242d;

    bottom: 0px;


    .balanced-item-tray {
      width:100%;
      height: 100%;


      .balanced-item {
        display: inline-block;
        height: 100%;

        border-right: 1px solid #11242d;

        &:last-child {
          border-right:0;
        }
      }
    }
  }


  .sub-tool {

  }


  &.wrap-kernel-style {
    .header {
      position: static;
    }

    //.body {
    //  position: static;
    //}

    .footer {
      position: static;
    }
  }
}




.light-theme {
  .tool {
    .header {
      color :#fff;
      background-color: #318cef;
      border-bottom-color:#2c81de;

      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.45);

      .actions {
        button {
          color:#fff;
          background-color: rgba(0,0,0,0);
          &:active {
            color:#eee;
          }
        }
      }
    }

    .body {
      background-url: url(http://api.thumbr.it/whitenoise-361x370.png?background=#e6e6e6ff&noise=8f8d8f&density=38&opacity=34);
      background-color: #e0e0e0;
      color :#333;
    }

    .footer {
      background-color: #e8e8e8;
      border-top-color:#d6d6d6;

      .balanced-item-tray {
        .balanced-item {
          border-right-color:#11242d;
        }
      }
    }
  }
}

