
.loadable-div {
  position: relative;

  .loading-back {
    pointer-events: none;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;

    opacity: 0;
    transition: opacity .3s ease;

    background-size: 30px 30px;
    background-image: linear-gradient(
        45deg,
        rgba(0, 174, 255, 0.5) 25%,
        transparent 0,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 174, 255, 0.5) 0,
        rgba(0, 174, 255, 0.56) 75%,
        transparent 0,
        transparent
    );
    background-repeat: repeat;

    &.loading {
      opacity: 0.5;
      animation: barberpole .5s linear infinite;
    }
  }
}



@keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}



.light-theme {

  .loadable-div {

    .loading-back {

      background-image: linear-gradient(
          45deg,
          rgba(0, 0, 0, 0.36) 25%,
          transparent 0,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0.36) 0,
          rgba(0, 0, 0, 0.36) 75%,
          transparent 0,
          transparent
      );
    }
  }
}
