
.component-drag-drop-layer {
  position: absolute;
  bottom:0;
  right:0;
  left:0;
  top:0;

  pointer-events: none;

  .line {
    position: absolute;
    background-color: #00edff;
    opacity: 0.6;

    &.v {
      width: 1px;
      top: 0;
      bottom: 0;

      background: repeating-linear-gradient(180deg,#0042bb,#0042bb 10px,#c3fdc5 0,#c3fdc5 20px);
    }

    &.h {
      height: 1px;
      left: 0;
      right: 0;

      background: repeating-linear-gradient(90deg,#0042bb,#0042bb 10px,#c3fdc5 0,#c3fdc5 20px);
    }
  }


  //.text {
  //  position: absolute;
  //  background-color: rgba(192, 72, 0, 0.7);
  //
  //  color: #000;
  //  padding: 4px;
  //  height: 20px;
  //  line-height: 1;
  //  font-size: 12px;
  //}

  .options {
    display: inline-block;
    height:30px;
    position: absolute;
    pointer-events: all;

    > .text {
      background-color: rgb(15, 125, 226);
      color: #000;
      padding: 10px;
      height: 30px;
      display: inline-block;
      line-height: 1;
      font-size: 12px;
      border-radius: 20px;
      color: #fff;

      i {
        margin-right: 5px;
      }
    }

    button {
      background-color: rgba(1, 17, 25, 0.82);
      color: #000;
      height: 30px;
      display: inline-block;
      line-height: 1;
      font-size: 12px;
      border-radius: 20px;
      color: #fff;
      padding: 0px 10px 0 0;

      outline:none;
      margin-left: 5px;
      cursor: pointer;

      i {
        margin-right: 5px;
        font-size: 16px;
        padding:7px;

        padding-right: 0;
      }

      .text {
        font-size: 12px;
        padding:7px 0;
      }


      &:hover {
        background-color: rgba(20, 37, 55, 0.82);
      }

      &:active {
        background-color: rgba(20, 37, 55,1);
      }
    }
  }
  .drop-zone-preview{
    position: absolute;

    background-color: rgba(12, 145, 237, 0.7);
    //border-radius: 10px;

    background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.7) 25%,
        transparent 0,
        rgba(0, 0, 0, 0) 50%,
        rgba(255, 255, 255, 0.7) 0,
        rgba(255, 255, 255, 0.7) 75%,
        transparent 0,
        transparent
    );
    background-size: 30px 30px;
    background-repeat: repeat;

    z-index: 5;


    .guide {
      position: absolute;
      width: 30px;
      height: 30px;
      left:50%;
      top:50%;
      margin-left: -15px;
      margin-top: -15px;

      //padding: 3px;
      display: inline-block;
      //background-color: #408cef;
      color:#000;
      font-size: 30px;


    }
  }

  .drop-guide-notice-box {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    color:#fff;
    border-radius: 5px;
  }

  .bounding-container {
    position: absolute;
    //background-color: rgba(0,0,0,.5);
    left:0;
    top:0;
    width:100%;
    height: 100%;
      z-index: 1;
    .part {
      position: absolute;
      display: block;

      background-color: rgba(0,0,0,.5);

      &.left {
        top:0;
        bottom:0;
        left: 0;
      }

      &.right {
        top:0;
        bottom:0;
        right: 0;
      }

      &.top {
        top:0;
      }

      &.bottom {
        bottom:0;
      }
    }


  }


  z-index: 12;
}
