.status-icon {
  width: 1em;
  height: 1em;
  background-color: #afafaf;
  border-radius: 1em;
  box-shadow:inset 0 0 5px 1px rgba(0, 0, 0, 0.28), 0 0 5px 1px #fff;
  display: inline-block;
  vertical-align: top;

  &.onAir {
    background-color: #ff2424;
    border-radius: 1em;
    box-shadow:inset 0 0 5px 1px rgba(0, 0, 0, 0.28), 0 0 5px 1px #d41f1f;
  }

  &.onAir.certified {
    background-color: #2dff08;
    border-radius: 1em;
    box-shadow:inset 0 0 5px 1px rgba(0, 0, 0, 0.28), 0 0 5px 1px #39d41f;
  }
}
