.studio-sidebar {
  position: absolute;
  background-color: #09181f;
  color:#fff;
  //height: 100%;

  &.draggable-hovering {
    -webkit-box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
    -moz-box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
    box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
  }
}



.light-theme {
  .studio-sidebar {
    background-color: #eaeaea;
  }
}
