.tool.pages {
  .node-tree-wrapper {


    ul.graph-node>li.item {
      font-size: 14px;
      white-space: nowrap;
      background-color: #040a10;
      margin: 5px;
      color: #0f7de2;
      padding: 5px;
      border-radius: 10px;


      .node-name {
        font-weight: 600;
        .path {
          font-size: 12px;
          color: #74c3ff;
          padding-left: 5px;
        }
      }
    }


  }

  .footer {

    button {
      width: 100%;
      height: 100%;
      line-height: 1;
      outline: none;
      box-sizing: border-box;
      border-bottom: 2px solid #041b25;
      background-color: #0b3040;
      cursor: pointer;
      &:hover {
        background-color: #0b4863;
      }
    }
  }


  button.node-option {
    height: 21px;
    padding:0;
    outline:none;

    cursor: pointer;

    color: #d1d1d1;

    &:hover {
      color : #fff;
    }
  }
}


.light-theme {
  .tool.pages {
    .node-tree-wrapper {

      ul.graph-node>li.item {
        background-color: #e8e8e8;
        color: #333;

        .node-name {
          .path {
            color: #2b6da9;
          }
        }
      }


    }

    .footer {

      button {
        border-bottom: 2px solid transparent;
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
      }
    }


    button.node-option {
      color: #333;

      &:hover {
        color : #333;
      }
    }
  }

}
