.mouse-overed-element-focusing-label {
  position : fixed;
  display: inline-block;

  background-color: #a24f1c;
  color:white;
  opacity: 0.7;

  height:20px;

  font-size: 9pt;
  box-sizing: border-box;
  padding: 2px 4px;

  -webkit-font-smoothing: auto;




  z-index: 3;
}
