.studio {
  overflow: hidden;
  position: absolute;
  width:100%;
  height:100%;
  //background-color: #0E0F1A;
  //background-color: #fff;
  margin:0px;

  font-family: 'Nanum Square', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size:13px;
  color:#000;

  //background-color: #eee;
  //background-image: linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa), linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa);
  //background-position: 0 0, 10px 10px;
  //background-size: 20px 20px;
  //background-repeat: repeat;


}

.light-theme {
  .studio {
    background-color: #fff;
  }
}
