.category-box {
  ul, li {
    margin:0;
    padding:0;
    font-size: 12px;
  }

  aside.root-category-wrapper {
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    width:100px;
    background-color: #0b2029;

    //li {
    //  border-radius: 100px;
    //  color: #f7f7f7;
    //  margin: 5px;
    //  padding: 5px;
    //  padding-left:10px;
    //  -webkit-font-smoothing: auto;
    //
    //  &:hover {
    //    background-color: #102b38;
    //    cursor: pointer;
    //  }
    //}

    .root-category-btn {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .category-view {
    position: absolute;
    left:100px;
    top:0;
    bottom:0;
    right:0;

    background-color: #173644;


  }
}

.category-list {
  width:100%;
  .category-list-name {
    position: relative;
    width: 100%;
    height:22px;
    background-color: #14536f;
    color: #fff;
    font-size: 12px;
    padding: 2px;
    padding-left: 10px;
    font-weight: 600;


    .sub-category-menus {
      float: right;

      button {
        display: inline-block;
        height:100%;
        padding: 0 10px;
        outline:none;

        cursor: pointer;
      }
    }
  }


  .category {
    //display: inline-block;
    //padding: 5px 10px;
    //margin: 5px 0 0 5px;
    //border-radius: 30px;
    //background-color: #1e4658;
  }

  .category-list {
    margin-top: 5px;
  }
}



.light-theme {

  .category-box {

    aside.root-category-wrapper {
      background-color: #fff;
      color : rgb(68, 68, 68);
    }

    .category-view {
      background-color: #e6e6e6;
    }
  }

  .category-list {
    .category-list-name {
      background-color: #d6d5d5;
      color :rgb(68, 68, 68);
    }
  }



}
