.date-picker {

  .input-wrap {
    text-align:left;
    padding: 5px;


    .input{
      .prefix {
        border-radius: 15px 0 0 15px;
        padding: 5px;
        float:left;
        background-color: #408cef;
        color:#fff;
      }
      input {
        float:left;
        background-color: #ffffff;
        width: 150px;
        padding: 5px;
        text-align:center;


        &[disabled]{
          background-color: #c5c5c5;
          color:rgba(0,0,0,0);
        }

      }

      .tail {
        border-radius: 0 15px 15px 0;
        padding: 5px;
        float: left;
        background-color: #fff;
        color: #252525;
        height: 29px;
        font-size: 17px;


        &:hover {
          background-color: #96d7ef;
        }
        margin-right: 5px;
      }

      &:after {
        display: block;
        content:" ";
        clear:both;
      }
    }

  }



  .calendar {
    position: fixed;

    z-index: 20000;
    margin-left: -264px;
    margin-top: 5px;


    width: 580px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.25);
    padding: 10px;

    .actions {
      width:100%;

      button {
        width: 100%;
        font-size: 19px;
        color: #fff;
        background-color: #de4343;
        border: 0;
      }
    }
  }


  &.cal_start, &.cal_end {
    .calendar {
      width : 300px;

      margin-left: -132px;
    }
  }



  .length-setting {
    width: 250px;
    text-shadow: 0 0 10px #00cfff;
    font-size: 16px;
    color: #0661c5;
  }
}
