.node-curation-group {
  .sub-curation-btn {
    background-color: #3b73f5;
    padding: 3px 8px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: background-color .3s;

    &:hover {
      background-color: #1487f5;
    }
  }
}
