.ice2-input-element {
  font-size: 12px;

  .label {
    padding: 5px;

    .title {
      color: #333;
      //font-weight:bold;
      padding: 3px 5px;
      line-height: 1;
    }


    .required {
      color:#f00;
    }
  }

  .data {
    display: block;
    padding: 5px;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    text-align: left;

    .string {
      input {

      }
    }

    .not {
      background-color: #868686;
      color: #fff;
      padding: 3px 5px;
      display: inline-block;
      line-height: 1;
      font-weight: bold;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }

    .bool {

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      color: #fff;
      padding: 3px 5px;
      display: inline-block;
      line-height: 1;
      font-weight: bold;

      &.true {
        background-color: #39a815;
      }

      &.false {
        background-color: #f5304f;
      }
    }

    .reference {
      .detail-call {
        outline: none;
        cursor: pointer;
        color: #0c82ea;

        &.disabled {
          color: #7d8892;
          cursor: not-allowed;
        }
      }
    }

    .referenced {
      .referenceView {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        color: #1876f3;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 3px;
        margin-right: 5px;
      }
    }

    .date {
      background-color: #a2dcff;
      padding: 3px;
      border-radius: 5px;
      display: inline-block;



    }

    .int, .double, .long {
      color: #ff0000;
    }


    .comment {
      padding: 5px;
      color: #888;
      font-size: 12px;
    }
  }

  &.with-label {
    .label {
      display: inline-block;
    }

    &.label-left {
      .data {
        display: inline-block;
      }
    }

    &.label-right {
      .data {
        display: inline-block;
      }
    }

    &.label-top {
      .label {
        display: block;
      }
    }

  }

  &.table-row {
    &.with-label {

      &.label-left, &.label-right {
        display: table-row;


        .label {
          vertical-align: middle;
          display: table-cell;
          white-space: nowrap;
          width: 10px; // 10px 을 지정하여 label 셀이 최소 넓이로 지정되도록 한다.
        }
        .data {
          display: table-cell;
        }
      }

      &.label-left {
        .label {
          text-align: right;

          &:after {
            content :" : ";
            display: inline-block;
          }
        }
      }

      &.label-right {
        .label {
          text-align: left;

          &:before {
            content :" : ";
            display: inline-block;
          }
        }
      }
    }
  }
}

.file-viewer {

  img {
    max-width: 100%;
  }
}


.reference-select {
  .more-items {
    background-color: #2c2c2d;
    color: #fff;
    border-radius: 15px;
    padding: 6px 10px;
    margin-left: 5px;

    cursor : pointer;
  }
}



.file-stage {
  .drop-zone {
    display: inline-block;
  }
}
