.studio-layer {
  position: absolute;
  pointer-events: all;
  transition: height .3s, width .3s, left .3s, top .3s;

  color :#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:after {
    position: absolute;
    left : 0;
    top:0;
    content: " ";
    display : block;
    width:100%;
    height:100%;
    background-color: #000;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  .width-control {
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 0 10px 0 #000;
    top: 50%;
    height: 30px;
    border-radius: 20px;
    margin-top: -15px;
    cursor: col-resize;
    z-index: 1;
    mix-blend-mode: soft-light;
    position: absolute;
    width: 5px;
    right: -10px;
    bottom: 5px;

    &:hover {
      background-color: rgba(0,0,0,0.9);
    }
  }

  .height-control {
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 0 10px 0 #000;
    /* left: 50%; */
    width: 30px;
    border-radius: 20px;
    margin-left: -15px;
    cursor: row-resize;
    z-index: 1;
    mix-blend-mode: soft-light;
    position: absolute;
    height: 5px;
    left: 50%;
    bottom: -10px;

    &:hover {
      background-color: rgba(0,0,0,0.9);
    }
  }

  .wh-control {
    position: absolute;
    height: 10px;
    width: 10px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #000;
    z-index: 1;
    mix-blend-mode: soft-light;
    bottom: -10px;
    right: -10px;
    border-radius: 50%;
    cursor:move;
    &:hover {
      background-color: rgba(0,0,0,0.9);
    }
  }

  .tool {
    .header {
      border-radius: 15px 15px 0 0;

      &.fullscreen {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
    }

    .body {
      &.no-footer {
        border-radius: 0 0 15px 15px;
      }
    }

    .footer {
      border-radius: 0 0 15px 15px;

      &.fullscreen {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
    }
  }
}




.light-theme {
  .studio-layer {
    color :rgb(90, 90, 90);

    .width-control {
      background-color: rgba(255,255,255,0.8);

      &:hover {
        background-color: rgb(49, 140, 239);
        box-shadow: 0 0 10px 0 #017bff;
      }
    }

    .height-control {
      background-color: rgba(255,255,255,0.8);

      &:hover {
        background-color: rgb(49, 140, 239);
        box-shadow: 0 0 10px 0 #017bff;
      }

    }

    .wh-control {
      background-color: rgba(255,255,255,0.8);
      &:hover {
        background-color: rgb(49, 140, 239);
        box-shadow: 0 0 10px 0 #017bff;
      }
    }
  }

}
