.mouse-overed-element-focusing-box {
  position : fixed;
  display: block;

  outline: 1px solid #08b8ec;

  box-sizing: content-box;

  mix-blend-mode: difference;




  .info-box {
    position: absolute;
    background-color: #000;
    color: #fff;
  }



  pointer-events: none;
  z-index: 2;
}
