.remote-control {
  left: 300px;
  position: absolute;
  border-radius: 15px;
  z-index: 15;
  width: 100px;
  height: 300px;

  &:after {
    content : " ";
    display: block;
    position: absolute;
    left : 0;
    top: 0;
    width:100%;
    height:100%;
    background-color: #000;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
    border-radius: 15px;
  }

  .top {
    border-radius: 15px 15px 0 0;
    position: relative;
    height:30px;
    width:100%;

    background-color: #0087ff;
    color:#fff;

    .move-handle {
      width: 50px;
      height: 100%;

      cursor: pointer;
      position: absolute;
      text-align: center;
      left: 50%;
      margin-left:-25px;
      letter-spacing: 2px;
    }


    //box-shadow: 0 -3px 15px 0 rgba(0,0,0,.4);

    z-index: 2;
  }

  .body {
    position: absolute;
    top:30px;
    bottom:40px;
    width: 100%;

    background-color: #fff;


    //box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);

    z-index: 1;
  }

  .bottom {
    position: absolute;
    bottom:0;
    height: 40px;
    width: 100%;
    border-radius: 0 0 15px 15px;

    background-color: #0087ff;
    color:#fff;


    //box-shadow: 0 3px 15px 0 rgba(0,0,0,.4);

    z-index: 2;
  }


  z-index: 15;
}
