.tool.grid-editor {
  .no-select-info {
    width:100%;
    height:100%;

    text-align: center;

    padding: 50px;
    &:before {
      content: ' ';
      display: inline-block;
      height:100%;
      width:0;

      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }


  .editor {
    .simple-render-editor {
      width:100%;

      .margin-box {
        position: relative;
        padding: 14px;
        background-color: #0b2029;
        border: 1px solid #1b3c4a;
        .border-box {
          position: relative;
          padding: 14px;
          background-color: #0e2a36;
          border: 1px solid #1b3c4a;
          .padding-box {
            position: relative;
            padding: 14px;
            background-color: #174457;
            border: 1px solid #1b3c4a;
            .grid-box {
              background-color: #0b2029;

              .node {
                outline: 1px dashed rgba(255, 255, 255, 0.21);
                outline-offset: -1px;
                position: relative;

                &:before {
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 50%;
                  margin-top:-12px;
                  width: 100%;
                  height: 100%;
                  content: "node";
                  font-size: 24px;
                  height:24px;
                  line-height:1;
                  text-align: center;
                  color: rgba(0, 0, 0, 0.35);
                  overflow: hidden;
                }

                &.grid {
                  width:100%;
                  background-color: rgba(139, 211, 7, 0.7);

                  &:before {
                    content: "Grid";
                  }
                }

                &.row {
                  min-height:100px;
                  width: 100%;

                  background-color: rgba(7, 91, 211, 0.7);

                  &:before {
                    content: "Row";
                  }

                  &:after {
                    display: block;
                    clear:both;
                    content: " ";
                  }
                }

                &.column {
                  float:left;
                  min-height:100px;

                  background-color: rgba(211, 93, 17, 0.7);

                  &:before {
                    content: "Column";
                  }

                  &.spacing-12 {
                    width: 100%;
                  }
                  &.spacing-11 {
                    width: 91.66666667%;
                  }
                  &.spacing-10 {
                    width: 83.33333333%;
                  }
                  &.spacing-9 {
                    width: 75%;
                  }
                  &.spacing-8 {
                    width: 66.66666667%;
                  }
                  &.spacing-7 {
                    width: 58.33333333%;
                  }
                  &.spacing-6 {
                    width: 50%;
                  }
                  &.spacing-5 {
                    width: 41.66666667%;
                  }
                  &.spacing-4 {
                    width: 33.33333333%;
                  }
                  &.spacing-3 {
                    width: 25%;
                  }
                  &.spacing-2 {
                    width: 16.66666667%;
                  }
                  &.spacing-1 {
                    width: 8.33333333%;
                  }
                }

                &.layer {

                  background-color: rgba(7, 162, 211, 0.7);

                  &:before {
                    content: "Layer";
                  }


                  position: absolute;
                }


                .drag-hook-left {
                  position: absolute;
                  left:0;
                  width:3px;
                  cursor: pointer;
                  height: 100%;
                  z-index: 1;
                  background-color: rgba(0,0,0,0);
                }

                .drag-hook-right {
                  position: absolute;
                  right:0;
                  width:3px;
                  cursor: pointer;
                  height: 100%;
                  z-index: 1;
                  background-color: rgba(0,0,0,0);
                }


                &.selected {
                  //background-color: rgba(0, 166, 245, 0.41);
                  outline:2px solid #fff;
                  outline-offset: -2px;
                }


                &.brotherhood {
                  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
                }
              }


            }
          }
        }
      }

      .box-label {
        display: inline-block;
        position: absolute;
        left: 14px;
        top: 1px;
        font-size: 10px;
        height: 12px;
        line-height: 1;
        font-family: 'Open Sans';
        color: #82a9b9;
      }

      .box-input {
        position: absolute;
        font-size: 12px;
        text-align: center;
        outline: none;
        color: #85aebf;

        &.top {
          height:12px;
          top : 1px;
          left:50%;
          width:20px;

          margin-left:-10px;
        }

        &.bottom {
          height:12px;
          bottom : 1px;
          left:50%;
          width:20px;

          margin-left:-10px;
        }

        &.left {
          top : 50%;
          left:1px;
          width:14px;
          height:14px;

          margin-top:-7px;
        }

        &.right {
          top : 50%;
          right:1px;
          width:14px;
          height:14px;

          margin-top:-7px;
        }
      }
    }


    .info-location {
      text-align: center;
      display: block;
      border-bottom: 1px solid #03405d;
      background-color: #06577d;
    }
  }
}


.light-theme {
  .tool.grid-editor {
    .editor {
      .simple-render-editor {

        .margin-box {
          background-color: #d6d6d6;
          border-color:#b1b1b1;
          .border-box {
            background-color: #c7c7c7;
            border-color:#b1bbbf;
            .padding-box {
              background-color: #b5b5b5;
              border-color:#a5a3a3;
              .grid-box {
                background-color: #929292;

                .node {
                  outline: 1px dashed rgba(255, 255, 255, 0.21);

                  &:before {
                    color: rgba(0, 0, 0, 0.35);
                  }

                  &.grid {
                    background-color: rgba(139, 211, 7, 0.7);

                  }

                  &.row {
                    background-color: rgba(7, 91, 211, 0.7);
                  }

                  &.column {
                    background-color: rgba(211, 93, 17, 0.7);
                  }

                  &.layer {

                    background-color: rgba(7, 162, 211, 0.7);

                  }


                  .drag-hook-left {
                    background-color: rgba(0,0,0,0);
                  }

                  .drag-hook-right {
                    background-color: rgba(0,0,0,0);
                  }


                  &.selected {
                    //background-color: rgba(0, 166, 245, 0.41);
                    outline:2px solid #fff;
                  }


                  &.brotherhood {
                    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
                  }
                }


              }
            }
          }
        }

        .box-label {
          color: #353535;
        }

        .box-input {
          color: #232323;
        }
      }


      .info-location {
        border-bottom-color:#d0d0d0;
        background-color: #b1b1b1;
      }
    }
  }
}
