.references-sortable-data-list {

  .foot-actions {
    display: table-row;
  }



  .foot-actions {
    display: flex;

    .action {
      display: block;
      flex:1;
      font-weight:bold;
      background-color: #408be6;
      color:#fff;
      margin: 10px;
      margin-left: 0;
      margin-right: 1px;
      padding: 5px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      font-size: 16px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: #046eef;
        color : #fff;
      }


      &.icon {
        padding: 9px;
      }

      &.inline {
        display: inline-block;
        flex: none;
        width: auto;
      }


      &.warning {
        background-color: #e66040;
      }
    }
  }

}
