.sortable-data-list {
  position: relative;
  width: 100%;
  padding: 5px 0;

  .item {
    position: relative;
    display: flex;
    width:100%;
    padding: 5px;

    .dnd-handle {
      width: 5px;
      height:100%;
      background-color: black;
    }


    .item-component-wrapper {
      flex:1;
    }

    .left {
      position: relative;

      min-width: 20px;
      width:30px;
    }

    .right {
      position: relative;
      width: 30px;
    }


    .left,.right {
      .num {
        vertical-align: middle;
        display: inline-block;

        font-weight:bold;
        width: 30px;
        color: #fff;
        background-color: #fff;
        border: 2px dashed #418cef;
        background-color: rgba(64, 138, 230, 0.78);
        box-sizing: border-box;
      }

      .action {
        vertical-align: middle;
        display: inline-block;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        padding: 0;
        width: 30px;
        color: #fff;
        background-color: #fff;
        border: 2px dashed #418cef;
        background-color: rgba(64, 138, 230, 0.78);
        cursor: pointer;
        box-shadow: 0 0 5px 0 #428cef;
        box-sizing: border-box;


        transition : all .3s;
        &:hover {
          background-color: rgba(0, 114, 255, 0.78);
        }
      }
    }
  }

  .cursor {
    position: absolute;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background-image: repeating-linear-gradient(90deg,#088afd,#ffffff 20px,#ffffff 0,#016ff5 60px);
    box-shadow: 0 0 5px 1px rgba(1, 135, 253, 0.8);
  }
}
