.ui-button-fullmoon {
	//border-radius: 50%;
	outline: none;
	position: relative;
  font-weight: 600;
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
	transition: all 0.1s;
	// overflow: hidden;
	// transform: rotate3d(1,0,0,40deg);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;

  word-break: break-all;

	&.image-desc {
		background-position: center;
		background-repeat: no-repeat;
	}

	&:before {
		width: 0;
		height: 100%;
		vertical-align: middle;
		display: inline-block;
		content: " ";
	}

	.content {
		display: inline-block;
		pointer-events: none;
	}

	.moon-mask {
		display: block;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.moon-circle {
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		background-color: rgb(0,0,0);
		border-radius: 50%;
		position: absolute;
		box-sizing: border-box;
		animation-duration: 0.7s;
		animation-name: slidein;
		opacity: 0;
		pointer-events: none;

		&.overlay {
			mix-blend-mode: overlay;
		}

		&.lighten {
			mix-blend-mode: lighten;
		}

		&.normal {
			mix-blend-mode: normal;
		}

		&.multiply {
			mix-blend-mode: multiply;
		}

		&.screen {
			mix-blend-mode: screen;
		}

		&.overlay {
			mix-blend-mode: overlay;
		}

		&.darken {
			mix-blend-mode: darken;
		}

		&.lighten {
			mix-blend-mode: lighten;
		}

		&.color-dodge {
			mix-blend-mode: color-dodge;
		}

		&.color-burn {
			mix-blend-mode: color-burn;
		}

		&.hard-light {
			mix-blend-mode: hard-light;
		}

		&.soft-light {
			mix-blend-mode: soft-light;
		}

		&.difference {
			mix-blend-mode: difference;
		}

		&.exclusion {
			mix-blend-mode: exclusion;
		}

		&.hue {
			mix-blend-mode: hue;
		}

		&.saturation {
			mix-blend-mode: saturation;
		}

		&.color {
			mix-blend-mode: color;
		}

		&.luminosity {
			mix-blend-mode: luminosity;
		}
	}
}
@keyframes slidein {
	from {
		opacity: 0.6;
		width: 0;
		height: 0;
		margin: 0;
	}

	to {
		width: 150px;
		height: 150px;
		margin-left: -75px;
		margin-top: -75px;
		opacity: 0;
	}
}
