.component-item-wrapper {
  display: inline-block;
  margin:5px;
  text-align: center;
  padding:5px;

  .component-item {
    display: inline-block;

    .component-title {
      padding: 3px;
      border-radius: 10px;
      background-color: #0f7de2;
      margin-top:5px;
      word-break: break-all;
    }
  }
}


.light-theme {

  .component-item-wrapper {
    .component-item {

      .component-title {
        background-color: #e8e8e8;
      }


      img {
        box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.43);
        border-radius: 10px;
      }
    }
  }

}
