.Ice2PropertyQueryInput {
  display: inline-block;
  width: 100%;

  .input-group-wrapper {
    display:inline-block;
    width: 100%;

    margin-bottom: 3px;
  }


  .options-wrapper {
    display: inline-block;



  }




  .input-pair {
    display: flex;
    float:left;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    width:50%;

    .input-label {

      display: block;
      padding: 9px 11px;
      border-right: 1px solid #d4d4d4;
      background-color:#eaeaea;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
    }

    .input-value {
      display: block;
      flex:1;

      .ant-select-selection {
        border:0!important;
      }
    }
  }
}


// 옵션에 대한 클래스는 글로벌로 선언해야 함
.advanced-option {
  color: #fd032d;
  font-weight: bold;
}
