.tool.dialog {



  .dynamic-contents {
    .row {
      .col {
        display: inline-block;
        vertical-align: top;
      }
    }

    .field {
      font-family: 'Open Sans';

      .label {
        width: 100%;
        box-sizing: border-box;
        background-color: #11749e;
        line-height: 1;
        outline: none;
        padding: 5px;
        font-size: 14px;
      }

      &.label {
        padding: 10px;
        font-weight: normal;
        font-size: 16px;
        text-shadow: 0px 1px 0px rgb(255, 255, 255), 0px 2px 0px rgba(0, 0, 0, 0.08);
      }

      &.input {

        padding: 10px;

        input {
          width: 100%;
          box-sizing: border-box;
          background-color: #fff;
          color: #333;
          line-height: 1;
          outline: none;
          padding: 10px;
          font-size: 14px;
        }
      }

      &.toggle {

        padding: 10px;
      }

      .validation {
        width: 100%;
        box-sizing: border-box;
        line-height: 1;
        outline: none;
        padding: 5px;
        font-size: 12px;
        border:0;

        &.error {
          background-color: #bf0714;
          color:#fff;
        }

        &.info {
          background-color: #0c91ed;
          color : #fff;
        }
      }

      &.button-set {
        padding: 10px;

        .button-wrap {
          display: inline-block;
          padding: 5px;
          box-sizing: border-box;
        }
      }
    }

    button {
      width: 100%;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: #11749e;
      line-height: 1;
      outline: none;
      padding: 5px;
      font-size: 14px;
      border:0;
      cursor: pointer;

      &.negative {
        background-color: #b52a2a;
      }

      &.positive {
        background-color: #119e4b;
      }

      &.force-positive {
        background-color: #0a64b5;
      }

      &:focus {
        box-shadow:inset 0 0 15px 0 #fbfbfb;
      }
    }
  }

}



.light-theme {
  .tool.dialog {


    .dynamic-contents {
      .field {

        .label {
          background-color: #dedede;
        }

        &.input {

          input {
            background-color: #f3f3f3;
            color: #333;
          }
        }

        .validation {
          &.error {
            background-color: #bf0714;
            color:#fff;
          }

          &.info {
            background-color: #0c91ed;
            color : #fff;
          }
        }

      }

      button {
        background-color: #11749e;
        color:#fff;

        &.negative {
          background-color: #b52a2a;
        }

        &.positive {
          background-color: #119e4b;
        }

        &.force-positive {
          background-color: #0a64b5;
        }
      }
    }

  }
}
