@import '../../../style/snippet.scss';

.studio-top {
  width:100%;
  background-color: #09181f;
  color:#fff;


  position: absolute;
  z-index: 10;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  border-bottom:1px solid #1f343e;

  &.draggable-hovering {
    -webkit-box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
    -moz-box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
    box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
  }

  .uii-tray-wrapper {
    width:100%;
    height:100%;

    .uii-tray {
      display: inline-block;
      vertical-align: top;
      height:100%;


      .uii-button {
        @include disable-select();
        vertical-align: top;
        display: inline-block;
        height:100%;
        font-size:12px;
        text-align: center;
        font-weight: 700;

        padding: 10px;
        //word-spacing:1px;
        letter-spacing: 0.5px;
        color:#ccc;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        .icon-wrapper {
          padding-bottom:3px;
          i.fa {
            font-size: 22px;
          }
        }


        &:hover {
          background-color: #072b3c;
        }

        &.side-label {
          .icon-wrapper {
            display: inline-block;
            height:100%;
            font-size:40px;
          }

          .title-wrapper {
            display: inline-block;
            height:100%;
            font-size:14px;
            vertical-align: top;

            &:before {
              display: inline-block;
              width: 1px;
              height: 100%;
              content: " ";

              vertical-align: middle;
            }

            > span {
              padding-left:5px;
              display: inline-block;
            }
          }
        }


        &.active {
          background-color: #00415d;
        }
      }
    }
  }



}


.light-theme {

  .studio-top {
    background-color: #e0e0e0;
    color:#fff;
    border-bottom-color:#dadada;

    &.draggable-hovering {
      -webkit-box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
      -moz-box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
      box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
    }

    .uii-tray-wrapper {
      .uii-tray {
        .uii-button {
          color:#5a5a5a;
          &:hover {
            background-color: #e6e6e6;
          }

          &.active {
            background-color: #e0e0e0;
          }
        }
      }
    }
  }
}
