.sementic-layout {
  text-align: center;
}


.sementic-title {
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  padding: 5px;
  background-color: #fff;
  border-bottom: 1px solid #dadada;
  text-shadow: 0 2px 0px rgba(0, 0, 0, 0.15);
}

.sementic-contents {
  position: relative;
  text-align: center;
  font-size: 12px;
  font-weight: 200;
  //padding: 5px;
  background-color: #fff;
  border-bottom: 1px solid #dadada;

  &.in-style {
    background-color: #e0e0e0;
    color: #333;
    border-bottom: 0px;
  }

  .row {
    padding: 3px;
  }
}


.sementic-label {
  display: block;
  text-align: right;
  font-size: 14px;
  font-weight: 200;
  font-family: 'Nanum gothic';

  padding: 3px;

  &.in-column {
    &:after {
      content : " : ";
    }
  }


  &.is-required {
    &:before {
      content : " * ";
      color:#ff0000;
    }
  }
}
