

.loading {
  .loading-eclipse{
    width:400px;
    height:400px;
    position: relative;

    transform: scale(0.5);

    .loading-eclipse-inner{
      width:400px;
      height:400px;
      position: relative;
    }



  }


  .text-wrapper {
    //display: inline-block;
    //white-space: nowrap;

    font-family: 'Nanum Square';
    .text {

      text-shadow: 0 2px 0 rgba(2, 14, 25, 0.4);
      font-size: 24px;

      width: 100%;
      text-align: center;
      color: #fff;
      display: inline-block;
    }
  }
}
