
.wysiwyg-editor {
  position: fixed;
  left:0;
  right:0;

  .text-modifier {
    position: fixed;
    background-color: #333;
    display: inline-block;
    top: 0;
    width: 100%;
    z-index:1;
    .wrapper {
      display: inline-block;
      position: absolute;
      width: 100%;
      bottom:5px;
    }

    .option {
      display: inline-block;

      button {
        background: linear-gradient(180deg,#fff 0,#eee);
        box-shadow: 0 2px 6px 0 rgba(22,45,61,.55);
        color: #2d4150;
        border-radius: 1000px;
        background-color: #000;
        margin-right: 5px;
        transition: background .3s;
        cursor: pointer;
        outline:none;
        height:30px;
        width:30px;

        &:hover {
          background: linear-gradient(180deg,#000,#4e4e4e);
          color: rgba(255, 255, 255, 0.9);
        }
      }


      &.active {
        button {
          background: linear-gradient(180deg, #183175 0, #2665ee);
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }


  }

  .color-picker {
    display: none;
    position: fixed;
    z-index: 2;
    height: 240px;

    .palette {
      display: inline-block;
    }
    .sub-panel {
      height: 100%;
      box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.53);
      border-radius: 0 10px 10px 0;
      vertical-align: top;
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.62);
    }
  }

  iframe {
    position: fixed;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: inset 0 0 5px 0 #009cff, inset 0 0 5px 0 #3b5667, 0 0 10px 0 #0d86ff;
    background-color: #fff;
  }


  z-index: 17;
}
