.tool.ice2version-manager {

  .body {
    background-color: #fff;


    .ant-table-small>.ant-table-content>.ant-table-body>table, .ant-table-small>.ant-table-content>.ant-table-header>table {
      padding: 0;
    }



    .ant-table-tbody {
      font-size: 14px;
      font-family: 'Nanum square';
    }

    .wall {
      color : #20455e;
      margin: 5px;
      padding: 5px;
      background-color: #f1f1f1;
      border-radius: 10px;

      .icon {
        font-size: 20px;
        vertical-align: middle;
        color:#1e7af3;
        margin-right: 5px;
      }


      .text {
        font-size: 16px;
        vertical-align: middle;
        margin-right: 5px;
      }
    }


    .works {
      button {
        background-color: #408cef;
        color: #fff;
        border-radius: 10px;
        padding: 5px 10px;

        transition: all .3s;

        cursor: pointer;

        box-shadow: 0 2px 0px 0 rgba(0,0,0,0.2);

        margin-right:5px;
        &:hover {
          background-color: #18579a;
        }

        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}
