.tool.settings-editor {
  .no-rules {
    text-align: center;
    margin-top: 50px;
  }

  .title {
    color: #fff;
    line-height: 1;
    padding: 6px;
    text-align: center;
    font-size: 14px;

    .title-wrap {
      padding: 5px 20px;
      border-radius: 40px;
      background-color: #05202b;
      color:#fff;
    }
  }

  .description {
    color: #fff;
    font-size: 12px;
    padding: 5px;
  }


  .time-setting {
    .label {
      padding: 5px;
      background-color: #ef4040;
      color: #fff;
      font-weight: bold;
      border-left: 4px solid #fff;
    }

    .control {
      padding: 5px;
      background-color: #d4d4d4;
      border-bottom: 3px solid #c1c1c1;
      text-align: center;
    }


    .schedule-feedback {
      padding: 5px 5px;
      font-size: 14px;
      line-height: 0;
      color: #ffffff;
      margin: 5px 0;
      background-color: #2ebb1e;


      &.be-scheduled {
        background-color: #449dfd;
      }


      &.expired {
        background-color: #fd323b;
      }
    }
  }


  .field-row {
    width: 100%;
    border-bottom: 1px solid #0b5777;

    &:last-child {
      border-bottom-width: 0;
    }

    .label {
      position: relative;
      width : 100%;
      background-color: #062938;
      line-height: 1;
      padding: 5px 10px;
      font-weight: 600;
      font-family: sans-serif;
      font-size: 14px;
      color:#8e8e8e;


      &:before {
        width: 4px;
        position: absolute;
        left: 0;
        top: 0;
        content: " ";
        height: 100%;
        display: inline-block;
        background-color: #0a82b5;

      }

      .action {
        position: absolute;
        right:5px;
        top:0;
        height:100%;

        button {
          background-color: transparent;
          border: 0;
          outline:none;
          cursor: pointer;
        }
      }

      .interest {
        color : #fff;

      }
    }

    .controls {
      width: 100%;
      background-color: #0b3e54;
      color: #fff;

      .control-row {
        width:100%;


        .node-thumbnail .title {
          color : #333;
        }
      }
    }

    .desc {
      background-color: #bddbfd;
      padding: 5px;
      margin: 5px 0;
      border: 3px solid #fff;
      border-left: 0;
      border-right: 0;
    }
  }


  .youtube-control {
    .preview {
      padding: 10px;
      text-align: center;
      background-color: #000;
    }

    .input {
      padding : 10px;

      button {
        outline: none;
        background-color: transparent;
        border:0;

        &:hover {
          color:#0085ff;

        }

        cursor: pointer;

        svg {
          filter: drop-shadow( 0px 0px 2px #0085ff);
        }
      }
    }

  }

  .numerical-control {
    position: relative;
    width:100%;
    padding: 10px 10px;
    .numerical-control-wrapper {
      position: relative;
      width:100%;
      background-color: #062938;
      line-height: 1;


      .input-wrapper {

        input {
          width: 100%;
          height:20px;
          font-size: 14px;
          line-height: 1;
          outline:none;
          text-align: center;

          cursor: text;
        }
      }
    }
  }

  .color-control {
    position: relative;
    width:100%;
    padding: 10px 10px;
    .color-control-wrapper {
      position: relative;
      //height: 20px;
      width:100%;
      //background-color: #062938;
      line-height: 1;

      .coloring {
        width:100%;
        height: 30px;
        padding: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        background-color: #fff;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGAQYcAP3uCTZhw1gGGYhAGBZIA/nYDCgBDAm9BGDWAAJyRCgLaBCAAgXwixzAS0pgAAAABJRU5ErkJggg==);
        background-repeat: repeat;

        .color {
          width:100%;
          height:100%;
          text-align: center;
          font-size:14px;
          padding: 3px;
          border-radius: 5px;

          .hex {
            color:#fff;
            font-weight: bold;
            mix-blend-mode: difference;
          }
        }
      }

      .color-picker-wrapper {
        //position: fixed;
        //z-index: 1;
        display: inline-block;
        position: fixed;
        z-index:1;
      }
    }
  }


  .boolean-control {
    position: relative;
    width:100%;
    padding: 10px 10px;

    .boolean-control-wrapper {
      background-color: #062938;
      line-height: 1;
      cursor: pointer;


      text-align: center;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .true {
        display: inline-block;
        width:100%;
        height: 20px;
        color:#fff;
        background-color: #6cd022;

        font-size: 14px;
        font-weight: 600;
        padding: 4px;


      }

      .false {
        display: inline-block;
        width:100%;
        height: 20px;
        color:#fff;
        background-color: #2c5d08;

        font-size: 14px;
        font-weight: 600;
        padding: 4px;
      }
    }
  }

  .string-control {
    position: relative;
    width:100%;
    padding: 10px 10px;

    .string-control-wrapper {
      display: inline-block;
      //background-color: #fff;
      line-height: 1;
      width:100%;

    }

    .draft-editor-wrapper {
      height: 300px;
      margin: 10px;
      position: relative;
      box-sizing: border-box;

      .DraftEditor-root {
        height: auto;
      }
    }

    &.bg-dark {
      .fr-box.fr-basic .fr-wrapper {
        background-color: #333!important;
      }

      .fr-box .fr-counter {
        background: #272727!important;
        border-top: 1px solid #242629!important;
        border-left: 1px solid #1f2329!important;
      }
    }

  }

  .code-control {
    position: relative;
    width:100%;
    padding: 10px 10px;

    .code-control-wrapper {
      position: relative;
      display: inline-block;
      background-color: #062938;
      line-height: 1;
      width:100%;
      height: 20px;

      .code-display {
        position: absolute;
        left:0;
        right:20px;
        top:0;
        height: 20px;

        padding: 4px;
        font-size: 12px;

        color:#e5eff3;
      }

      .btn-enumerate {
        position: absolute;
        width:20px;
        right:0;
        top:0;
        height: 20px;

        border: 0;
        padding: 0;

        outline:none;

        cursor: pointer;
      }
    }

    .enumeration-list {
      position: fixed;
      min-height:20px;
      margin-top: -5px;
      z-index: 1;

      background-color: #031c27;
      z-index: 1;
      box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.8);

      box-sizing: border-box;
      border: 2px solid #fff;

      .item {
        width:100%;
        min-height: 20px;
        padding: 4px;

        cursor: pointer;

        border-bottom: 1px solid #112d3a;

        &:last-child {
          border-bottom:0;
        }

        &:hover {
          background-color: #052c3d;
        }

        &:active {
          background-color: #06374c;
        }
      }
    }
  }


  .unit-control {
    position: relative;
    width:100%;
    padding: 10px 10px;

    .unit-control-wrapper {
      position: relative;
      display: inline-block;
      line-height: 1;
      width:100%;
      height: 20px;


      .unit {
        display: inline-block;
        padding:4px;
        height:20px;

        cursor: pointer;

        background-color: #185873;
        margin-right: 5px;

        &.selected {
          background-color: #20a0d6;
        }
      }
    }
  }


  .array-control {
    position: relative;
    width: 100%;
    padding: 10px 10px;

    .unit-control-wrapper {
      position: relative;
      display: inline-block;
      line-height: 1;
      width: 100%;
      height: 20px;
    }

    .adder {
      text-align: center;
      cursor: pointer;
    }
  }

  .resource-control {
    position: relative;
    width: 100%;
    padding: 10px 10px;

    .unit-control-wrapper {
      position: relative;
      display: inline-block;
      line-height: 1;
      width: 100%;
      height: 20px;


    }

    .real {
      text-align: center;

      img {
        max-width: 100%;
        max-height:100px;
      }


      .image-holder {
        padding: 20px;
        color: #000;
        font-size : 15px;
        font-weight: bold;

        background-color: #eee;
        background-image: linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa), linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa);
        background-position: 0 0, 10px 10px;
        background-size: 20px 20px;
        background-repeat: repeat;
      }
    }

    .name {
      width:100%;
      font-size:12px;
      text-align: center;
    }
  }
}



.light-theme {
  .tool.settings-editor {
    .title {
      .title-wrap {
        background-color: #333;
        color:#fff;
      }
      //background-color: #f7f7f7;
      //color: #333;
    }

    .description {
      //background-color: #f7f7f7;
      color: #333;
    }

    .field-row {
      border-bottom-color:#eaeaea;

      .label {
        background-color: #ececec;
        color: #616161;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);

        &:before {
          background-color: #4b96e6;

        }

        .action {
          button {
            background-color: transparent;
          }
        }

        .interest {
          color : #2b2b2b;
        }
      }

      .controls {
        background-color: transparent;
        color: #333;
      }
    }


    .numerical-control {
      .numerical-control-wrapper {
        background-color: transparent;
      }
    }

    .color-control {
      .color-control-wrapper {
        //background-color: #062938;
      }
    }


    .boolean-control {
      .boolean-control-wrapper {
        background-color: #062938;
        .true {
          color:#fff;
          background-color: #6cd022;
        }

        .false {
          color:#fff;
          background-color: #2c5d08;
        }
      }
    }

    .string-control {
      .string-control-wrapper {


        textarea {
          //color:#fff;
        }
      }
    }

    .code-control {

      &.interest {
        box-shadow: inset 0 0 20px 0 #00a1ff;
      }

      .code-control-wrapper {
        background-color: #062938;

        .code-display {
          color:#e5eff3;
        }

      }

      .enumeration-list {

        background-color: #031c27;
        box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.8);

        border-color:#fff;

        .item {
          border-bottom-color:#112d3a;

          &:hover {
            background-color: #052c3d;
          }

          &:active {
            background-color: #06374c;
          }
        }
      }
    }


    .unit-control {
      .unit-control-wrapper {

        .unit {
          background-color: #185873;

          &.selected {
            background-color: #20a0d6;
          }
        }
      }
    }
  }


  &.nativeDragging {



    .numerical-control {
      .numerical-control-wrapper {
        background-color: transparent;
      }
    }

    .color-control {
      .color-control-wrapper {
        background-color: #062938;
      }
    }


    .boolean-control {
      .boolean-control-wrapper {
        background-color: #062938;
        .true {
          color:#fff;
          background-color: #6cd022;
        }

        .false {
          color:#fff;
          background-color: #2c5d08;
        }
      }
    }

    .string-control {
      .string-control-wrapper {


        textarea {
          //color:#fff;
        }
      }
    }

    .code-control {

      .code-control-wrapper {
        background-color: #062938;

        .code-display {
          color:#e5eff3;
        }

      }

      .enumeration-list {

        background-color: #031c27;
        box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.8);

        border-color:#fff;

        .item {
          border-bottom-color:#112d3a;

          &:hover {
            background-color: #052c3d;
          }

          &:active {
            background-color: #06374c;
          }
        }
      }
    }


    .unit-control {
      .unit-control-wrapper {

        .unit {
          background-color: #185873;

          &.selected {
            background-color: #20a0d6;
          }
        }
      }
    }
  }
}
