.nodeItem-type {
  .sub-title-box {
    font-size: 14px;
    padding: 5px;
  }

  .search-box {
    padding: 10px;
  }

  .record{
    .id {
      padding: 5px;
      /* background-color: #fff; */
      margin-right: 5px;
    }
    .head {
      font-size: 12px;
      /* padding: 10px; */
      vertical-align: middle;
      width: 370px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      /* display: inline-block; */
      text-overflow: ellipsis;

        padding-left: 10px;
    }

    .show {
      float: right;
      padding:5px;
      border-radius: 10px;
      background-color: #ff0909;
      color:#fff;

      margin-left: 5px;

      &.want {
        background-color: #65b2ff;
        color: #153051;
        cursor: pointer;
        outline:none;
      }
    }

    padding: 5px;
    border-bottom: 1px solid #b9b9b9;
  }

}
