.modal-container {
  .content {
    &.blur {
      //filter : blur(10px);
      //-webkit-filter : blur(10px);
    }
  }


  .modal-presentation {
    top : 0;
    left : 0;
    width:100%;
    height:100%;

    position: fixed;
    z-index:10000; // aviary Adobe 이미지 에디터의 zIndex 는 9998이다. 9999도 사용한다. 그러므로 모달은 10000이상을 사용한다.
    background-color: rgba(0,0,0,0.5);

    .glow {
      filter : blur(40px);
      -webkit-filter : blur(40px);
      mix-blend-mode: multiply;
      display: none;
    }

    &:before {
      width:0;
      height:100%;
      vertical-align: middle;
      content: " ";
      display: inline-block;
    }

    .modal-vertical-positioning {
      display: inline-block;
      width:100%;
      vertical-align: middle;
      text-align: center;

      .modal-kernel, .glow {
        display: inline-block;
        color : #fff;
        text-align: left;
        position: relative;
        transition: height .3s, width .3s;


        .tool {
          .header {
            border-radius: 15px 15px 0 0;

            &.fullscreen {
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              border-radius: 0;
            }
          }


          .body {
            &.no-footer {
              border-radius: 0 0 15px 15px;
            }
          }

          .footer {
            border-radius: 0 0 15px 15px;

            &.fullscreen {
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              border-radius: 0;
            }
          }
        }
      }

      .glow {
        position: fixed;
        z-index: -1;
        pointer-events: none;
      }
    }

  }
}



.light-theme {
  .modal-container {


    .modal-presentation {

      background-color: rgba(0,0,0,0.5);

      .modal-vertical-positioning {

        .modal-kernel, .glow {


        }

      }

    }
  }
}
