.studio-side-area{
  position: absolute;
  //background-color: rgba(0,0,0,0.3);
  background-color: #0b2029;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color:#fff;

  .bound-shadow {
    position: absolute;
    width:20px;
    height: 100%;
    overflow: hidden;
    pointer-events: none;

    &:before {
      position: absolute;
      content: " ";
      background-color: rgba(0, 0, 0, 0.5);
      display: block;
      width: 20px;
      filter: blur(7px);
      height: 100%;
    }


    &.rightArea {
      left: -20px;

      &:before {
        left:19px;
      }
    }

    &.leftArea {
      right: -20px;

      &:before {
        right: 19px;
      }
    }
  }
  //border:1px solid #fff;

  &.draggable-hovering {
    -webkit-box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
    -moz-box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
    box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
  }

  .width-control {
    position: absolute;
    height: 20px;
    width: 5px;
    border-radius: 10px;
    cursor: col-resize;
    background-color: rgb(251, 251, 251);
    z-index: 1;
    mix-blend-mode: soft-light;

    &:hover {
      background-color: rgba(0,0,0,0.9);
    }

    &.leftArea {
      top:4px;
      right : 2px;
    }

    &.rightArea {
      top: 4px;
      left : 2px;
    }
  }


  z-index: 1;


  &.hide {
    opacity:0;
    //width:0;
    pointer-events: none;
  }
}




.light-theme {
  .studio-side-area{
    background-color: #f7f7f7;
    color:rgb(90, 90, 90);

    &.draggable-hovering {
      -webkit-box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
      -moz-box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
      box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
    }

    .width-control {
      background-color: rgba(0,0,0,0.4);

      &:hover {
        background-color: rgba(0,0,0,0.9);
      }
    }
  }
}
