/*
* Animation variables
*/
$animationSteps: 20;
$animationDuration: 50;
$animationElementsCount: 100;
$delayBetweenLetters: 0.2;


.overlay-interface-layer {
  position: absolute;
  left:0;
  right:0;

  width: 100%;
  height:100%;

  z-index: 10;



  .component-handler, .directive-handler {
    position: fixed;
    width: 0;
    height: 0;
    white-space: nowrap;
    user-select: none;

    font-size: 16px;

    .handlers {
      position:absolute;
      right:0;

      &.left {
        left:0;
        right: auto;
      }

      button {
        animation-name: anim-text-flow-keys;
        animation-duration: 50s;
        padding: 1px;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        background-color: rgba(1, 11, 31,0.8);
        border: 0;
        box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.31);
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        padding: 3px 7px;
        margin:1px;

        transition: color 0.3s, background-color 0.3s;



        &:hover {
          animation-name: anim-bg-flow-keys,anim-text-flow-keys;
        }


        span {
          //font-weight: bold;
          //padding-right: 3px;
        }

        i {
          margin-right:4px;
        }

        .wall {
          display: block;
          position: absolute;

        }
      }

      /*
     * Element animation delay loop
     */
      $totalDelayTime: $animationElementsCount * $delayBetweenLetters;
      @for $i from 1 through $animationElementsCount {
        button:nth-of-type(#{$i}) {
          animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
        }
      }
    }





  }


  .fragment-remote-control {
    position: absolute;
    width: 200px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.5);

    opacity:0.4;
    &:hover {
      opacity: 1;
    }

    .frc-head {
      border-radius: 15px 15px 0 0;
      color:#fff;
      width: 100%;
      box-sizing: border-box;
      height: 30px;
      text-align: center;
      padding: 5px 0;
      font-size: 14px;
      font-weight: bold;
      border-bottom: 2px solid #3b91ff;
      //
      //border-top: 2px solid #333;
      //border-left: 2px solid #333;
      //border-right: 2px solid #333;
      position: relative;


      background: #1e5799; /* Old browsers */
      background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #1e5799 0%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */

      cursor : move;



      button {
        color: #fff;
        position: absolute;
        right: 4px;
        top: 3px;
        outline:none;
        cursor : pointer;

      }
    }

    .frc-body {
      background-color: #fff;
      width: 100%;
      position: relative;
      max-height: 300px;
      overflow: auto;
      //border-left: 2px solid #333;
      //border-right: 2px solid #333;
      text-align: center;
    }

    .frc-footer {
      position: relative;
      border-radius: 0 0 15px 15px;
      color:#fff;
      width: 100%;
      box-sizing: border-box;
      height: 30px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;

      //border-bottom: 2px solid #333;
      //border-left: 2px solid #333;
      //border-right: 2px solid #333;
      //border-bottom: 2px solid #3b91ff;


      background: #2989d8; /* Old browsers */
      background: -moz-linear-gradient(top, #2989d8 0%, #1e5799 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #2989d8 0%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #2989d8 0%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

      button {
        height: 100%;
        color: #d9ebff;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        transition: text-shadow 0.3s;
        margin: 0 5px;
        opacity:0.7;
        &:hover {
          opacity:1;
          text-shadow: 0 0 5px #fff;
          color:#fff;
        }
      }
    }


    &.collapsed {
      .frc-head {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
      }

      .frc-body {
        display: none;
      }

      .frc-footer {
        display: none;
      }
    }
  }
}

/*
 * Keyframe loop
 */
@keyframes anim-text-flow-keys {
  @for $i from 0 through $animationSteps {
    #{percentage($i * (1 / $animationSteps))} {
      color: hsla(random(570), 80, 80, 0.8);
    }
  }
}


/*
 * Keyframe loop
 */
@keyframes anim-bg-flow-keys {
  @for $i from 0 through $animationSteps {
    #{percentage($i * (1 / $animationSteps))} {
      background-color: hsla(random(540), 20, 20, 0.8);
    }
  }
}
