.dashboard {
  position: absolute;
  width:100%;
  height:100%;

  -webkit-font-smoothing: antialiased;
  font-family: "Nanum Square", "Open Sans", sans-serif;
  color:#fff;

  font-weight:normal;

  .container {
    position: absolute;
    top:64px;
    bottom:0px;
    width:100%;

    h1 {
      font-weight:normal;
      padding-left:20px;
      color : #fff;
    }

    .photo-grid {
      padding-left:20px;

      .photo-item-site {
        position: relative;
        display: inline-block;
        text-align: center;
        width: 250px;
        margin: 10px;
        padding:10px;

        vertical-align: top;

        background-color: #fff;
        color:#333;
        transition: box-shadow 0.5s;
        box-shadow: 0 0 5px 0 rgb(0, 0, 0);
        &:hover {
          box-shadow: 0 0 30px 0 rgb(5, 136, 255);
        }

        &.updated-just {
          box-shadow: 0 0 30px 0 #ff0530;
        }

        .thumb {
          display: block;
          width : 230px;
          min-height:100px;

          //border-radius: 20px;


          background-color: #073361;
          background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
          linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
          linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
          linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
          background-size: 13px, 29px, 37px, 53px;
          background-repeat: repeat;


          //box-shadow: 0 0 20px 1px rgba(0,0,0,1);

          img {
            width:100%;
          }
        }

        .introduce {
          display: block;
          width:100%;
          word-break: break-all;
          text-align: left;
          font-size : 16px;

          .row {
            .label {
              color:#333;
            }

            .value {
              font-weight:bold;
            }
          }
        }

        .ui {
          width:100%;

          text-align: center;
          margin-top: 10px;

          button {
            display: inline-block;
            color: #fff;
            font-size: 14px;
            padding: 6px;
            line-height: 1;
            background-color: #0f7de2;
            border: 0;

            outline:none;
            cursor: pointer;

            &:hover {
              background-color: #108af5;
            }

            &:active {
              background-color: #0c65b4;
            }

            margin-left:5px;

            &:first-child {
              margin-left : 0;
            }


            &[disabled] {
              background-color: #6a8a9d;
              pointer-events: none;
              cursor: not-allowed;
            }

            &.asap {
              background-color: #e23633;

              &:hover {
                background-color: #c62f2d;
              }

              &:active {
                background-color: #932321;
              }
            }
          }



        }


        .right-top-button {
          position: absolute;
          width: 30px;
          height: 30px;
          background-color: #000000;
          color: #fff;
          border-radius: 50%;
          padding: 0;
          border: 0;
          right: -15px;
          top: -15px;


          box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.26), 0 0 10px 0 #000;
          cursor: pointer;

          transition: 0.2s all;

          outline:none;

          &:hover {
            background-color: #d40808;
          }

          &:active {
            background-color: #910505;
          }
        }

        .version {
          background-color: #000;
          color: #fff;
          position: absolute;
          display: inline-block;
          height: 20px;
          width: 70px;
          font-size: 14px;
          margin-left: -35px;
          box-shadow: 0 0 10px 0 #000;
          top: -10px;

          z-index: 1;

          &:after {
            display: inline-block;
            content: " ";
            position: absolute;
            right: -10px;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid #000;
          }

          &:before {
            display: inline-block;
            content: " ";
            position: absolute;
            left: -10px;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid #000;
          }
        }
      }
    }
  }


}



.light-theme {
  .dashboard {
    color:#fff;

    .container {
      .photo-grid {

        .photo-item-site {

          background-color: #fff;
          color:#333;
          transition: box-shadow 0.5s;
          box-shadow: 0 0 5px 0 rgb(0, 0, 0);
          &:hover {
            box-shadow: 0 0 30px 0 rgb(5, 136, 255);
          }

          &.updated-just {
            box-shadow: 0 0 30px 0 #ff0530;
          }

          .thumb {
            background-color: #073361;
            background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
            linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
            linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
            linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
          }

          .introduce {

            .row {
              .label {
                color:#333;
              }
            }
          }

          .ui {
            button {
              color: #fff;
              background-color: #0f7de2;

              &:hover {
                background-color: #108af5;
              }

              &:active {
                background-color: #0c65b4;
              }

              &[disabled] {
                background-color: #6a8a9d;
                pointer-events: none;
                cursor: not-allowed;
              }

              &.asap {
                background-color: #e23633;

                &:hover {
                  background-color: #c62f2d;
                }

                &:active {
                  background-color: #932321;
                }
              }
            }



          }


          .right-top-button {

            background-color: #000000;
            color: #fff;


            box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.26), 0 0 10px 0 #000;

            &:hover {
              background-color: #d40808;
            }

            &:active {
              background-color: #910505;
            }
          }

          .version {
            background-color: #000;
            color: #fff;

            box-shadow: 0 0 10px 0 #000;

            &:after {

              border-top-color: transparent;
              border-bottom-color: transparent;
              border-left-color: #000;
            }

            &:before {
              border-top-color: transparent;
              border-bottom-color: transparent;
              border-left-color: #000;
            }
          }
        }
      }
    }


  }

}
