.global-wrapper {

  .ui-blocking-loading {
    position: fixed;
    left : 0;
    top : 0;
    width:100%;
    height:100%;

    background-color: rgba(0,0,0,0.5);

    z-index: 100000; // 모달이 10000임
  }
  color :#fff;

  &.light-theme {
    color :#333;
  }
}
