.theme-type {
  .param-decorator {
    width: 100%;
    background-color: #e0e0e0;
    padding:10px;

    .param {
      display: inline-block;
      .name {
        display: inline-block;
        margin-right: 5px;
      }

      .input {
        display: inline-block;
      }

      margin-right: 5px;
    }
  }

  .data-curation {
    .theme-item {
      .head {
        padding: 10px;

        .options {
          display: inline-block;
          float: right;

          button {
            background-color: transparent;
            cursor: pointer;
            outline: none;
          }
        }


        &.sub-curation-opened {
          background-color: #1a7ed6;
          color:#fff;

        }
      }

      border-bottom: 1px solid #dadada;
    }

  }

  .sub-data-curation {
    padding: 10px;


  }

  .theme-child-item {
    padding: 10px;
    background-color: #1a7ed6;
    color:#fff;
    border-bottom: 1px solid #dadada;


    .thumb {
      display: inline-block;
      width:10%;
    }

    .desc {
      display: inline-block;
      width:90%;
      padding:10px;
    }
  }


  .dragging {
    .theme-item {
      background-color: #ccd6d5;
    }

    .theme-child-item {
      background-color: #165d9c;
    }
  }
}
