.tool.api {
  .category {
    bbackground-color: #e6e7ea;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }

  .search-and-filter{
    padding: 20px;
    padding-bottom : 0;
  }

  .api-panel {
    padding:20px;

    .api-detail {

    }
  }

  .in-panel-drag-item {
    padding: 8px;
    border-radius: 3px;
    cursor: move;
    transition: all .2s;
    &:hover {
      padding: 6px;
      border-radius: 10px;
      border: 2px dashed #00a2fd;
      cursor: move;
    }

    .tid{
      &:before {
        content : "(";
      }
      &:after {
        content : ")";
      }

      font-size: 0.7em;
      color: #1856bb;
    }
  }


  .data-frame {
    background-color: #d0d0d0;
    margin-left: -20px;
    margin-right: -20px;

    ul
    {
      box-sizing: border-box;
      //
      list-style-type: none;



      > li
      {
        //background-color: rgba(255,255,255,.2);
        //
        .item
        {
          display: inline-block;

          width: 100%;
          max-width: 100%;

          > .key
          {
            display: table-cell;

            box-sizing: border-box;
            height: 25px;
            padding: 5px;

            vertical-align: middle;

            color : #242424;
          }

          > .value
          {
            display: table-cell;
            overflow: hidden;

            box-sizing: border-box;
            height: 25px;
            padding: 5px;

            vertical-align: middle;
            word-break: break-all;

            > .wrapper
            {
              display: inline-block;
              overflow: hidden;

              height: 15px;

              vertical-align: middle;
            }
          }

          > .indent
          {
            position: relative;

            display: table-cell;

            width: 15px;
            height: 10px;

            // &.guide
            // {
            //     &::before
            //     {
            //         position: absolute;
            //         left: 7.5px;
            //
            //         display: inline-block;
            //
            //         height: 100%;
            //
            //         content: ' ';
            //
            //         border-left: 1px solid #fff;
            //     }
            //     &::after
            //     {
            //         position: absolute;
            //         top: 13.5px;
            //         left: 7.5px;
            //
            //         display: inline-block;
            //
            //         width: 50%;
            //
            //         content: ' ';
            //
            //         border-bottom: 1px solid #fff;
            //     }
            // }
          }


          > :first-child
          {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          > :last-child
          {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }

          &:hover
          {
            background-color: #e8f5f2;
          }
        }

        &.number
        {
          > .item
          {
            > .value
            {
              color: #006371;
            }
          }
        }

        &.string
        {
          > .item
          {
            > .value
            {
              color: #006700;
              > .wrapper
              {
                &:before
                {
                  content: '"';
                }
                &:after
                {
                  content: '"';
                }
              }
            }
          }
        }

        &.boolean
        {
          > .item
          {
            > .value
            {
              color: #470817;
            }
          }
        }

        &.array
        {
          > .item
          {
            > .value
            {
              color: #01343c;
              &:before
              {
                content: '[';
              }
              &:after
              {
                content: ']';
              }
            }
          }
        }

        &.object
        {
          > .item
          {
            > .value
            {
              color: #0a3607;

              &:before
              {
                content: '{';
              }
              &:after
              {
                content: '}';
              }
            }
          }
        }


        // &:last-child
        // {
        //     //
        //     .item
        //     {
        //         > .indent.guide
        //         {
        //             &::before
        //             {
        //                 height: 50%;
        //             }
        //         }
        //     }
        // }
      }
    }
  }
}



.light-theme {
  .tool.api {

  }
}


