.hierarchy-line-viewer {
  width:100%;

  ul,
  li
  {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  ul
  {
    position: relative;
    width: 100%;
    li
    {
      font-size: 12px;
      position: relative;
      height: 20px;
      padding: 0 10px 0 20px;
      cursor: pointer;
      -webkit-transition: background .3s linear;
      -moz-transition: background .3s linear;
      -o-transition: background .3s linear;
      transition: background .3s linear;
      color: #fff;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#445563+0,313b47+51,1f262d+100 */
      background: #445563; /* Old browsers */
      background:    -moz-linear-gradient(left,  #445563 0%, #313b47 51%, #1f262d 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #445563 0%,#313b47 51%,#1f262d 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(90deg,#001a2f 0,#1f7dd0 51%,#ffffff); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445563', endColorstr='#1f262d',GradientType=1 ); /* IE6-9 */
      > .type
      {
        padding-right: 5px;
        text-transform: uppercase;
        color: #13fd74;
      }
      > .tagName
      {
        text-transform: uppercase;
        color: #000;
      }
      > .id
      {
        color: #f76262;
        &::before
        {
          content: '#';
          color: #f98b8b;
        }
      }
      > .class
      {
        color: #8abef9;
        &::before
        {
          content: '.';
          color: #9ec5f1;
        }
      }
      &::before
      {
        display: inline-block;
        width: 0;
        height: 100%;
        content: ' ';
        vertical-align: middle;
      }
      &::after
      {
        position: absolute;
        top: 0;
        /* border-radius: 5px; */
        right: -10px;
        display: inline-block;
        width: 0;
        height: 0;
        content: ' ';
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #ffffff;
      }
      > *
      {
        vertical-align: middle;
      }
      &:hover
      {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#445563+0,495868+51,455991+100 */
        background: #445563; /* Old browsers */
        background:    -moz-linear-gradient(left,  #445563 0%, #495868 51%, #455991 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #445563 0%,#495868 51%,#455991 100%); /* Chrome10-25,Safari5.1-6 */
        background:         linear-gradient(90deg,#001a2f 0, #218fea 51%,#ffffff) ; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445563', endColorstr='#455991',GradientType=1 ); /* IE6-9 */
        &::after
        {
          border-left: 10px solid #fff;
        }
      }

      &:last-child {
        background: linear-gradient(90deg,#001a2f,#1f7dd0 51%,#06577d);
        > .tagName
        {
          text-transform: uppercase;
          color: #fff;
        }
        &::after
        {
          border-left: 10px solid #06577d;
        }
      }
    }
    li.placeholder
    {
      width: 100%;
      padding: 0;
      text-align: center;
      &::after
      {
        display: none;
        content: '';
      }
    }
  }
}

.ElementHierarchyViewer
{
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 30px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: #45484d; /* Old browsers */
  background:    -moz-linear-gradient(top,  #45484d 0%, #000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000 100%); /* Chrome10-25,Safari5.1-6 */
  background:         linear-gradient(to bottom,  #45484d 0%,#000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  ul,
  li
  {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  ul
  {
    position: relative;
    width: 100%;
    height: 100%;
    li
    {
      font-size: 12px;
      position: relative;
      height: 100%;
      padding: 0 10px 0 20px;
      cursor: pointer;
      -webkit-transition: background .3s linear;
      -moz-transition: background .3s linear;
      -o-transition: background .3s linear;
      transition: background .3s linear;
      color: #fff;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#445563+0,313b47+51,1f262d+100 */
      background: #445563; /* Old browsers */
      background:    -moz-linear-gradient(left,  #445563 0%, #313b47 51%, #1f262d 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #445563 0%,#313b47 51%,#1f262d 100%); /* Chrome10-25,Safari5.1-6 */
      background:         linear-gradient(to right,  #445563 0%,#313b47 51%,#1f262d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445563', endColorstr='#1f262d',GradientType=1 ); /* IE6-9 */
      > .type
      {
        padding-right: 5px;
        text-transform: uppercase;
        color: #13fd74;
      }
      > .tagName
      {
        text-transform: uppercase;
        color: #dedddd;
      }
      > .id
      {
        color: #f76262;
        &::before
        {
          content: '#';
          color: #f98b8b;
        }
      }
      > .class
      {
        color: #8abef9;
        &::before
        {
          content: '.';
          color: #9ec5f1;
        }
      }
      &::before
      {
        display: inline-block;
        width: 0;
        height: 100%;
        content: ' ';
        vertical-align: middle;
      }
      &::after
      {
        position: absolute;
        top: 0;
        /* border-radius: 5px; */
        right: -15px;
        display: inline-block;
        width: 0;
        height: 0;
        content: ' ';
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #1f262d;
      }
      > *
      {
        vertical-align: middle;
      }
      &:hover
      {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#445563+0,495868+51,455991+100 */
        background: #445563; /* Old browsers */
        background:    -moz-linear-gradient(left,  #445563 0%, #495868 51%, #455991 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #445563 0%,#495868 51%,#455991 100%); /* Chrome10-25,Safari5.1-6 */
        background:         linear-gradient(to right,  #445563 0%,#495868 51%,#455991 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445563', endColorstr='#455991',GradientType=1 ); /* IE6-9 */
        &::after
        {
          border-left: 15px solid #455991;
        }
      }
    }
    li.placeholder
    {
      width: 100%;
      padding: 0;
      text-align: center;
      &::after
      {
        display: none;
        content: '';
      }
    }
  }
}


.light-theme {
  .hierarchy-line-viewer {

    ul
    {

      li
      {
        color: #fff;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#445563+0,313b47+51,1f262d+100 */
        background: #445563; /* Old browsers */
        background:    -moz-linear-gradient(left,  #445563 0%, #313b47 51%, #1f262d 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #445563 0%,#313b47 51%,#1f262d 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(90deg,#001a2f 0,#1f7dd0 51%,#ffffff); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445563', endColorstr='#1f262d',GradientType=1 ); /* IE6-9 */
        > .type
        {
          color: #13fd74;
        }
        > .tagName
        {
          color: #000;
        }
        > .id
        {
          color: #f76262;
          &::before
          {
            color: #f98b8b;
          }
        }
        > .class
        {
          color: #8abef9;
          &::before
          {
            color: #9ec5f1;
          }
        }

        &::after
        {
          border-left-color: #ffffff;
        }

        &:hover
        {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#445563+0,495868+51,455991+100 */
          background: #445563; /* Old browsers */
          background:    -moz-linear-gradient(left,  #445563 0%, #495868 51%, #455991 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left,  #445563 0%,#495868 51%,#455991 100%); /* Chrome10-25,Safari5.1-6 */
          background:         linear-gradient(90deg,#001a2f 0, #218fea 51%,#ffffff) ; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445563', endColorstr='#455991',GradientType=1 ); /* IE6-9 */
          &::after
          {
            border-left-color:#fff;
          }
        }

        &:last-child {
          background: linear-gradient(90deg,#001a2f,#1f7dd0 51%,#06577d);
          > .tagName
          {
            color: #fff;
          }
          &::after
          {
            border-left-color:  #06577d;
          }
        }
      }
    }
  }

  .ElementHierarchyViewer
  {

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: #45484d; /* Old browsers */
    background:    -moz-linear-gradient(top,  #45484d 0%, #000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #45484d 0%,#000 100%); /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to bottom,  #45484d 0%,#000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    ul
    {

      li
      {

        color: #fff;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#445563+0,313b47+51,1f262d+100 */
        background: #445563; /* Old browsers */
        background:    -moz-linear-gradient(left,  #445563 0%, #313b47 51%, #1f262d 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #445563 0%,#313b47 51%,#1f262d 100%); /* Chrome10-25,Safari5.1-6 */
        background:         linear-gradient(to right,  #445563 0%,#313b47 51%,#1f262d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445563', endColorstr='#1f262d',GradientType=1 ); /* IE6-9 */
        > .type
        {
          color: #13fd74;
        }
        > .tagName
        {
          color: #dedddd;
        }
        > .id
        {
          color: #f76262;
          &::before
          {
            color: #f98b8b;
          }
        }
        > .class
        {
          color: #8abef9;
          &::before
          {
            color: #9ec5f1;
          }
        }

        &::after
        {

          border-left-color:#1f262d;
        }
        > *
        {
          vertical-align: middle;
        }
        &:hover
        {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#445563+0,495868+51,455991+100 */
          background: #445563; /* Old browsers */
          background:    -moz-linear-gradient(left,  #445563 0%, #495868 51%, #455991 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left,  #445563 0%,#495868 51%,#455991 100%); /* Chrome10-25,Safari5.1-6 */
          background:         linear-gradient(to right,  #445563 0%,#495868 51%,#455991 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445563', endColorstr='#455991',GradientType=1 ); /* IE6-9 */
          &::after
          {
            border-left-color: #455991;
          }
        }
      }

    }
  }
}
