.studio-central {
  position: absolute;
  //background-color: rgba(0,0,0,0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  //border:2px solid #fff;

  &.draggable-hovering {
    -webkit-box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
    -moz-box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
    box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
  }

  z-index: 1;
}
