.ice2table {
  width: 100%;
  td {
    .text {
      width:150px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;


      .advanced {
        color: #ffffff;
        background: #f55050;
        padding: 1px 3px;
        border-radius: 5px;
        margin: 1px;
        font-weight: 700;
      }
    }


    .actions {

      white-space: nowrap;
      font-size:14px;
    }
  }

  th {
    .column-head-title {
      font-size: 14px;
      vertical-align: middle;
      display: inline-block;
    }
  }

  .head {
    background-color: #fdfdfd;
    height: auto;
    padding: 0;
    position:relative;

    .title {
      padding: 10px;
      font-size: 16px;
      color:#333;
      background-color: #e6e6e6;
    }

    .search-panel {
      position:relative;
      width: 100%;

      //display: flex;
      //align-items: center;
      //justify-content: center;

      .search-conditions {
        margin-right: 50px;
        padding: 5px;
      }

      .search-btn {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0;
        color: #fff;
        height: 100%;
        width: 50px;
        outline: none;
        cursor: pointer;
        background-color: #509cff;
        transition: background-color .3s, color .3s;

        &:hover {
          color : #fff;
        }

        &.active {
          color : #fff;
          background-color: #509cff;
        }
      }
    }
  }


  .table-footer {
    background-color: #fff;

    &:after{
      content: " ";
      display: block;
      clear:both;
    }
  }


  .side-bar {
    background-color: #fff;

    border-right: 1px solid #eaeaea;


    .title {
      padding: 5px;
      color: #3e3e3e;
      font-weight: bold;
      background-color: #dcdcdc;
      vertical-align: sub;

      &:before {
        width: 3px;
        margin-right: 5px;
        height: 13px;
        background-color: #328bef;
        content: " ";
        display: inline-block;
      }
    }

    .column-filter{

      .columns {
        .column {
          padding: 3px;
          padding-left: 10px;
          border-bottom:1px solid #dadada;
          cursor: pointer;
        }
      }
    }

    .paging {
      text-align: center;
    }
  }

  .layout-body {
    border-top : 1px solid #e2e3e6;
  }

  .table-wrapper {
    background-color: #fff;


    .ant-table-small {
     border:none;
    }
  }

}
