
.modifing-layer {
  position: fixed;
  bottom:0;
  right:0;
  left:0;
  top:0;

  pointer-events: none;

  .line {
    z-index:1;
    position: absolute;
    background-color: #00edff;
    opacity: 0.8;

    &.v {
      width: 2px;
      top: 0;
      bottom: 0;

      background: repeating-linear-gradient(180deg,#ffffff,#ffffff 10px,#0086ff 0,#0086ff 20px);
    }

    &.h {
      height: 2px;
      left: 0;
      right: 0;

      background: repeating-linear-gradient(90deg,#ffffff,#ffffff 10px,#0086ff 0,#0086ff 20px);
    }
  }


  //.text {
  //  position: absolute;
  //  background-color: rgba(192, 72, 0, 0.7);
  //
  //  color: #000;
  //  padding: 4px;
  //  height: 20px;
  //  line-height: 1;
  //  font-size: 12px;
  //}

  .options {
    display: inline-block;
    height:30px;
    position: absolute;
    pointer-events: all;

    > .text {
      background: linear-gradient(to bottom, white 0%, #eeeeee 100%);
      box-shadow: 0 2px 6px 0 rgba(22, 45, 61, 0.55);
      color: #2d4150;

      padding: 10px;
      height: 30px;
      display: inline-block;
      line-height: 1;
      font-size: 12px;
      border-radius: 20px;

      i {
        margin-right: 5px;
      }
    }

    button {
      background: linear-gradient(to bottom, white 0%, #eeeeee 100%);
      box-shadow: 0 2px 6px 0 rgba(22, 45, 61, 0.55);
      color: #2d4150;

      height: 30px;
      display: inline-block;
      line-height: 1;
      font-size: 12px;
      border-radius: 20px;
      width: 30px;

      outline:none;
      margin-left: 5px;
      cursor: pointer;

      i {
        //margin-right: 5px;
        font-size: 16px;
        //padding:7px;

        padding-right: 0;
      }

      .text {
        font-size: 12px;
        padding:7px 0;
      }


      &:hover {
        background-color: rgba(20, 37, 55, 0.82);
      }

      &:active {
        background-color: rgba(20, 37, 55,1);
      }
    }

    z-index:3;
  }

  .side-option-container {
    position: absolute;
    pointer-events: none;
    display: block;
    z-index: 2;

    .floating-opt {
      background-color: #fff;
      color: #000;
      border-radius: 5px;
      position: absolute;
      pointer-events: all;

      cursor: pointer;

      box-shadow: 0 0 10px 0 rgba(0,0,0,0.8);
      text-align: center;

      line-height:1;

      outline: none;

      &:hover {
        background-color: #fff;
      }
    }


    .top-draggable {
      top:-10px;
      left:50%;

      margin-left:-20px;

      height: 20px;
      width: 40px;
    }

    .height-stretch {
      height: 20px;
      width: 40px;

      left: 50%;
      margin-left: -20px;
      bottom: -10px;
    }

    .width-stretch {
      bottom: 50%;
      height: 24px;
      width: 20px;
      right: -10px;
      margin-top: -12px;
      top: 50%;
      padding-top: 5px;
    }

    .row-add {
      height: 20px;
      width: 25px;
      left: 50%;
      margin-left: 25px;
      bottom: -10px;
      padding:0;
    }

    .column-add {
      bottom: 50%;
      height: 20px;
      width: 20px;
      right: -10px;
      margin-top: 15px;
      top: 50%;
      padding:0;
    }

    .delete {
      top: 3px;
      height: 20px;
      width: 20px;
      right: 3px;
      padding:0;
    }
  }


  z-index: 12;
}


.light-theme {

  .modifing-layer {
    .line {
      background-color: #00edff;

      &.v {
        background: repeating-linear-gradient(180deg,#ffffff,#ffffff 10px,#0086ff 0,#0086ff 20px);
      }

      &.h {
        background: repeating-linear-gradient(90deg,#ffffff,#ffffff 10px,#0086ff 0,#0086ff 20px);
      }
    }
    .options {

      > .text {
        background: linear-gradient(to bottom, white 0%, #eeeeee 100%);
        box-shadow: 0 2px 6px 0 rgba(22, 45, 61, 0.55);
        color: #2d4150;
      }

      button {
        background: linear-gradient(to bottom, white 0%, #eeeeee 100%);
        box-shadow: 0 2px 6px 0 rgba(22, 45, 61, 0.55);
        color: #2d4150;

        &:hover {
          background-color: transparent;
          color:#0669d0;
        }

        &:active {
          background-color: transparent;
        }
      }
    }

    .side-option-container {
      .floating-opt {
        background-color: #fff;
        color: #000;

        box-shadow: 0 0 10px 0 rgba(0,0,0,0.8);
        &:hover {
          background-color: #fff;
        }
      }

    }


    z-index: 12;
  }

}
