.resource-manager {

  .component-item-wrapper {
    position: relative;
    display: inline-block;
    margin:5px;
    text-align: center;
    padding:5px;
    box-sizing: content-box;

    .component-item {
      display: inline-block;


      .component-title {
        padding: 3px;
        border-radius: 10px;
        background-color: #0f7de2;
        margin-top:5px;


        .tag {
          background-color: #000;
          color: #fff;
          border-radius: 10px;
          padding: 4px;
          opacity: .9;
          font-size: 11px;
          line-height: 1;
        }
      }
    }

    .left-top-ui-wrapper {
      position: absolute;
      top: -10px;
      left: -10px;

      .tag {
        background-color: #000;
        color:#fff;
        border-radius:10px;
        opacity:0.5;
      }
    }

    .right-top-ui-wrapper {
      position: absolute;
      top: -10px;
      right: -10px;

      button {
        background-color: #1b87ea;
        border-radius: 100px;
        width: 25px;
        height: 25px;
        border: 0;
        padding: 0;
        line-height: 1;

        color:#fff;
        font-size:15px;
        outline : none;
        cursor: pointer;

        &.edit {
          //background-color: #60ea48;
        }

        &.remove {
          background-color: #ea1f30;
        }

        transition: all 0.3s;
        opacity:0.25;
        &:hover {
          opacity:0.9;
        }
      }


    }

    &.selected {
      background-color: #0085ff;
      .component-title {
        background-color: #fff;
        color:#333;
      }
    }

    .extension-info {
      display: none;
      pointer-events: none;
      position: absolute;
      left : 0;
      top:50%;
      margin-top:-13px;
      width:100%;
      text-align: center;


      color:#fff;
      font-size:16px;


      .text-wrapper {
        background-color: rgba(0,0,0,0.7);
        padding:5px;
      }
    }

    &:hover {
      .extension-info {
        display: block;
      }
    }
  }


  .tab {
    position: absolute;
    top:0;
    height:30px;
    width:100%;

    ul {
      margin:0;
      list-style-type: none;
      height: 30px;
      padding: 0;
      color: #fff;
      background-color: #0b2029;
      border-bottom: 1px solid #3f6e82;
      box-sizing:border-box;

      li {
        vertical-align: top;
        display: inline-block;
        height:30px;
        line-height: 1;

        button {
          margin: 0;
          border: 0;
          display: inline-block;
          height: 25px;
          outline: none;
          padding: 0 10px;
          cursor: pointer;
          margin-top: 4px;
          border-radius: 10px 10px 0 0;

          &.active {
            background-color: #156bc7;
          }
        }
      }
    }


  }

  .category-box {
    position: absolute;
    top:30px;
    bottom:0;
    width:100%;
  }
}
