.tool.canvas {
  //overflow: hidden;

  //.canvas-menu {
  //  position: absolute;
  //  top:0;
  //  height:25px;
  //  width:100%;
  //  background-color: #000;
  //  z-index: 2;
  //  //box-shadow:0 0 10px 0 rgba(0,0,0,0.4);
  //
  //
  //  .text {
  //    color: #fff;
  //    font-family: 'Open sans';
  //    line-height: 1;
  //    font-size: 13px;
  //
  //    .name {
  //      color: #b8f5ff;
  //      font-size: 12px;
  //
  //      &:after {
  //        display: inline-block;
  //        content : " : ";
  //        padding: 0 3px;
  //      }
  //    }
  //
  //    .unit {
  //      color : #ff706f;
  //      padding: 0 1px;
  //    }
  //  }
  //
  //
  //  .canvas-menu-set {
  //    button {
  //      display: inline-block;
  //      width:auto;
  //
  //      margin-top: 2px;
  //    }
  //  }
  //}

  background-color: #424242;
  background-image: linear-gradient(45deg, #464646 25%, transparent 25%, transparent 75%, #464646 75%, #464646), linear-gradient(45deg, #464646 25%, transparent 25%, transparent 75%, #464646 75%, #464646);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  background-repeat: repeat;


  .canvas-menu-wrapper {
    position: absolute;
    right:30px;
    top : 30px;
    z-index: 3;

    .canvas-menu-item {
      position: absolute;
      right : 0px;

      width: 35px;
      height:35px;
      border-radius:50%;

      background: linear-gradient(to bottom, white 0%, #eeeeee 100%);
      box-shadow: 0 2px 6px 0 rgba(22, 45, 61, 0.55);
      color: #2d4150;

      opacity:0.7;

      transition: right 0.3s, opacity 0.3s, color 0.3s;

      outline:none;
      opacity: 0;
      pointer-events: none;

      &:hover {
        color: #0084ff;
      }

      &.active {
        color: #03bd00;
      }

      &.show {
        pointer-events: all;
        opacity: 1;
      }

      svg {

      }
    }
  }

  .information {
    position: absolute;
    text-align: center;
    width: 100%;
    top : 5px;
    z-index: 3;
    pointer-events: none;
    .information-bar {
      display: inline-block;
      padding: 5px;
      background: linear-gradient(to bottom, white 0%, #eeeeee 100%);
      box-shadow: 0 2px 6px 0 rgba(22, 45, 61, 0.55);
      color: #2d4150;

      border-radius:20px;
      pointer-events: all;
      opacity:0.7;
    }


    &.bottom {
      top:auto;
      bottom : 5px;
    }
  }


  .render-screen {
    position: absolute;
    top:0px;
    bottom:0px;
    left:0;
    right:0;
    z-index:2;

    iframe.renderer {
      position: absolute;
      left:0;
      top:0;

      width:100%;
      height:100%;

      border:0;

      z-index: 0;
    }
  }
}


.light-theme {
  .tool.canvas {
    .canvas-menu {
      background-color: #e2e2e2;
      //box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);

      .text {
        color: #333;
        .name {
          color: #545454;
        }

        .unit {
          color: #7c3636;
        }
      }
    }
  }
}
