.tool.project-explorer {

  .search-box {
    margin:5%;
    width:90%;
  }

  ul {
    margin:0;
    padding:0;


  }


  .node-tree-wrapper {

    -webkit-font-smoothing: auto;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.5px;

    .node {
      .item {
        font-size:12px;
        list-style-type: none;
      }
    }
  }


  .node-tree-wrapper
  {
    width: 100%;
    height:100%;
    text-align: left;
    ul,
    li
    {
      margin: 0;
      padding: 0;
    }
    ul.node
    {
      > li
      {
        &.item
        {
          font-size: 12px;

          > .node-show-sub
          {
            padding: 3px;
            cursor: pointer;
            color: #aaa;
          }
          > .node-icon
          {
            padding-right: 5px;
            color: #729fb5;
          }
          > .node-name
          {
            padding-right: 5px;
            color: #eee;
            letter-spacing: 0.5px;
          }
          > .node-tid
          {
            float: right;
            padding-right: 5px;
            color: #585e63;
          }
          > .node-option
          {
            float: right;
            margin-left: 5px;
            color: #3b99fc;
            > .select
            {
              font-size: 13px;
              display: inline-block;
              width: 15px;
              height: 15px;
              text-align: center;
              vertical-align: middle;
              color: #fff;
              border-radius: 3px;
              background-color: #3b99fc;
            }
          }
          > input
          {
            font-size: 16px;
            padding: 5px 10px;
            color: #fff;
            border: 1px solid #676464;
            border-radius: 5px;
            outline: none;
            background-color: #383838;
          }
          > button
          {
            font-size: 16px;
            float: right;
            padding: 5px 10px;
            cursor: pointer;
            transition: all .2s;
            color: #e8f0f9;
            border: 1px solid #a6cef9;
            border-radius: 5px;
            outline: none;
            background-color: #3b99fc;
            &:hover
            {
              box-shadow: inset 0 0 10px rgba(255,255,255,.5);
            }
            &:active
            {
              box-shadow: inset 0 0 10px rgba(0,0,0,.5);
            }
          }
          > .indent
          {
            float: left;
            width: 25px;
            height: 10px;
          }
        }
        &.has-children
        {
          //padding: 5px;
          //border: 1px solid #000;
          // &::before
          // {
          //     margin: 5px;
          //
          //     content: ' > ';
          //
          //     color: #fff;
          // }
        }
      }
    }
    .loading
    {
      font-size: 22px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -11px;
      margin-left: -11px;
      color: #fff;
    }
  }
}
