@import '../../../../../style/snippet.scss';

.menu-bar-slim {
  height:100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .uii-button {
    @include disable-select();
    position: relative;

    //-webkit-font-smoothing: auto;
    //font-family: 'Nanum Square Bold';
    display: block;
    width:100%;
    font-size:9px;
    text-align: center;
    font-weight: 700;

    padding: 10px 0;
    color:#ccc;

    .icon-wrapper {
      position: relative;
      padding-bottom:3px;

      font-size: 22px;

      img {
        width:1em;
      }
    }


    &:hover {
      background-color: #072b3c;
    }

    &.active {
      //background-color: #0b2029;

      &:before {
        display: block;
        content: " ";
        width: 5px;
        left: 48px;
        top: 30px;
        height: 5px;
        border-radius: 50%;
        box-shadow: 0 0 0px 4px rgba(49, 140, 239, 0.41);
        z-index: 0;
        position: absolute;
        background-color: rgb(49, 140, 239);
      }
    }
  }

  &.right {
    .uii-button {


      &.active {
        //background-color: #0b2029;

        &:before {
          right: 48px;
        }
      }
    }
  }
}


.light-theme {
  .menu-bar-slim {
    .uii-button {
      color:#5a5a5a;

      &:hover {
        background-color: #e6e6e6;
      }

      &.active {
        background-color: #e0e0e0;
      }
    }
  }
}
