.ice2-form {
  >.title {
    border-bottom: 2px solid #d2d2d2;
    padding-bottom: 5px;


    .type-name {
      font-size: 16px;
      font-weight: 700;
      padding: 0 5px;
      color: #393d42;
    }

    .tid {
      font-size: 14px;
    }


    .launch-layer {
      float:right;
      color:#000;
      cursor: pointer;
      margin-right: 5px;
    }
  }


  overflow: auto;
}
