label.infomation {
	font-size: 14px;
	color: rgba(255,255,255,0.4);
	-webkit-font-smoothing: antialiased;

	.small {
		font-size: 12px;
	}

	.normal {
		font-size: 14px;
	}

	.large {
		font-size: 18px;
	}
}
