body {
	-webkit-font-smoothing: antialiased;
}

.index {
	width: 100%;

	.headline {
		width: 100%;
		height: 300px;
		text-align: center;
		box-sizing: border-box;
		padding-bottom: 50px;
		// border-bottom: 1px solid #1F2136;
		&::before {
			width: 0;
			height: 100%;
			vertical-align: bottom;
			display: inline-block;
			content: " ";
		}

		.headline-svg {
			display: inline-block;
		}
	}

	.contentline {
		position: absolute;
		width: 100%;
		top: 300px;
		bottom: 100px;

		.container {
			position: absolute;
			width: 100%;
			top: 0;
			bottom: 200px;
			display: flex;
			flex-direction: row;

			.logo {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -125px;
				margin-top: -142.5px;
				width: 285px;
				height: 250px;
			}

			.center-zone,
			.left-zone,
			.right-zone {
				height: 100%;
				text-align: center;

				&:before {
					width: 0;
					height: 100%;
					vertical-align: middle;
					content: " ";
					display: inline-block;
				}
			}

			.left-zone,
			.right-zone {
				width: 200px;
			}

			.center-zone {
				-webkit-flex: auto;
				flex: auto;
				width: auto;
			}
		}
	}

	.footline {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100px;
		text-align: center;
		// border-top: 1px solid #1F2136;
		box-sizing: border-box;
		font-family: 'Quicksand';
		color: #5D617A;
		font-size: 12px;

		&::before {
			width: 0;
			height: 100%;
			vertical-align: middle;
			display: inline-block;
			content: " ";
		}

		.copy {
			display: inline-block;
		}

		.status-bar {
			position: absolute;
			bottom: 0;
			height: 25px;
			width: 100%;
			background-color: rgb(10,10,10);
		}
	}
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.vertical-middle {
	vertical-align: middle;
}
