@import '../../../style/snippet.scss';

.studio-bottom {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  position: absolute;
  left: 0;
  bottom: 0;

  width:100%;

  background-color: #09181f;
  color:#fff;

  border-top:1px solid #1f343e;

  &.draggable-hovering {
    -webkit-box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
    -moz-box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
    box-shadow: inset 0px 0px 20px 0px rgb(12, 88, 123);
  }

  .uii-tray-wrapper {
    width:100%;
    height:100%;

    .uii-tray {
      display: inline-block;
      vertical-align: top;
      height:100%;


      .uii-button {
        @include disable-select();
        vertical-align: top;
        display: inline-block;
        height:100%;
        font-size:12px;
        text-align: center;
        font-weight: 700;

        //word-spacing:1px;
        letter-spacing: 0.5px;
        color:#ccc;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        .icon-wrapper {

          display: inline-block;
          font-size: 12px;

          margin: 3px;
        }


        &:hover {
          background-color: #072b3c;
        }

        .title-wrapper {
          display: inline-block;
          height:100%;
          font-size:12px;
          vertical-align: top;

          &:before {
            display: inline-block;
            width: 1px;
            height: 100%;
            content: " ";

            vertical-align: middle;
          }

          > span {
            padding-left:5px;
            display: inline-block;
          }
        }
      }
    }
  }
}
