
.node-graph-layer {
  position: absolute;
  bottom:0;
  right:0;
  left:0;

  pointer-events: none;


  .node {
    position: absolute;
    letf:0;
    height: 10px;
    //right:0;

    .childGraph {
      position: absolute;
      left:0;
      right:0;

      top: -15px;
    }
    .bar{
      position: absolute;
      height: 15px;
      font-size: 10px;
      left: 0;
      right: 0;
      top: -15px;
      padding: 0px;
      text-align: center;
      box-sizing: border-box;

      background-color: rgb(166, 255, 0);
      border-right: 1px solid #fff;
      overflow: hidden;
      text-overflow: ellipsis;

      pointer-events: all;
      opacity: 0.2;
      &:hover {
        opacity:0.5;
      }
      &.core-system-grid {
        //background-color: rgb(255, 29, 98);
      }
      &.core-system-row {
        background-color: rgb(0, 105, 255);
      }
      &.core-system-column {
        background-color: rgb(255, 108, 13);
      }

      &.core-system-layer {
        background-color: rgb(1, 194, 255);
      }


      &.trail {
        opacity:0.8;
      }
    }
  }


  z-index: 11;
}
