.ice2-display-element {
  font-size: 12px;

  .label {
    padding:5px;

    .title {
      color:#333;
      //font-weight:bold;
      padding : 3px 5px;
      line-height: 1;
    }
  }

  .data {
    display: block;
    padding:5px;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;

    .not {
      background-color: #868686;
      color: #fff;
      padding: 3px 5px;
      display: inline-block;
      line-height: 1;
      font-weight:bold;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }


    .bool {

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      color: #fff;
      padding: 3px 5px;
      display: inline-block;
      line-height: 1;
      font-weight:bold;

      &.true {
        background-color: #39a815;
      }

      &.false {
        background-color: #f5304f;
      }
    }



    .reference {
      .detail-call {
        outline:none;
        cursor: pointer;
        color : #0c82ea;

        &.disabled {
          color : #7d8892;
          cursor: not-allowed;
        }
      }

      .value {
        color : #dc2525;
      }
    }

    .referenced {
      .referenceView {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;



        color: #1876f3;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 3px;
        margin-right: 5px;
      }
    }


    .date {
      background-color: #a2dcff;
      padding: 3px;
      border-radius: 5px;
      display: inline-block;
    }

    .int, .double, .long {
      color:#ff0000;


      &.idable {
        color: #505050;
        /* background: #5a5a5a; */
        border: 1px solid #868686;
        letter-spacing: 1px;
        padding: 3px;
        border-radius: 3px;
        display: inline-block;
      }
    }
  }

  &.with-label {
    .label {
      display: inline-block;
    }

    &.label-left {
      .data {
        display: inline-block;
      }
    }

    &.label-right {
      .data {
        display: inline-block;
      }
    }

    &.label-top {
      .label {
        display: block;
      }
    }


  }


  &.table-row {
    &.with-label {

      &.label-left, &.label-right {
        display: table-row;


        .label {
          display: table-cell;
          white-space: nowrap;
          width: 10px; // 10px 을 지정하여 label 셀이 최소 넓이로 지정되도록 한다.
        }
        .data {
          display: table-cell;
        }
      }

      &.label-left {
        .label {
          text-align: right;

          &:after {
            content :" : ";
            display: inline-block;
          }
        }
      }

      &.label-right {
        .label {
          text-align: left;

          &:before {
            content :" : ";
            display: inline-block;
          }
        }
      }
    }
  }
}

@keyframes background-reverse {
  from {background-color: #333;}
  to {background-color: #fff;}
}

.file-viewer {
  //background-color: #eee;
  //background-image: linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa), linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa);
  //background-position: 0 0, 10px 10px;
  //background-size: 20px 20px;
  //background-repeat: repeat;

  img {
    max-width: 100%;
    max-height: 100%;

    animation-name: background-reverse;
    animation-duration: 3s;
    animation-direction: reverse;
    animation-iteration-count : infinite;
  }


  .size-info {
    text-align: center;
    padding: 3px;
    color: #fb4e4e;
  }


  .over-glow {
    &:hover {
      box-shadow: 0 0 5px #fff;
    }
  }
}


.node-thumbnail {
  height: inherit;

  .overlay-title {
    position: relative;
    height : inherit;


    .overlay {
      left:0;
      bottom:0;
      position: absolute;
      display: inline-block;
      width:100%;
      text-align: center;

      .title {
        display:inline-block;
        background-color: rgba(0, 0, 0, .5);
        padding: 5px;
        color:#fff;
      }
    }
  }


  .references-nest{
    position: relative;
    background-color: #fff;
    //height: 100%;
    color:#333;
    text-align: left;
    padding:5px;
    .title {
      font-size: 14px;

      .count {
        padding: 0px 5px;
        display: inline;
        &:before {
          content: "(";
        }

        &:after {
          content: ")";
        }
      }
    }

    .subTitle {
      padding: 0 5px;
      font-size: 12px;
    }

    .options {
      position: absolute;
      right: 5px;
      top:5px;
      display:inline-block;
    }
  }

  .thumbnail-type {
    text-align: left;
    background-color: #fff;
    display: -webkit-flex;
    display: flex;

    .file-viewer {
      display: block;


      background-color: #424242;
      background-image: linear-gradient(45deg, #464646 25%, transparent 25%, transparent 75%, #464646 75%, #464646), linear-gradient(45deg, #464646 25%, transparent 25%, transparent 75%, #464646 75%, #464646);
      background-position: 0 0, 10px 10px;
      background-size: 20px 20px;
      background-repeat: repeat;
    }

    .text-display {
      -webkit-flex: 1;
      flex: 1;
      position: relative;
      padding: 5px;

      .id {
        display: inline-block;
        cursor: pointer;

        &:before {
          content : "#";
        }
        &:after {
          content : " ";
        }
        color:#1856bb;
      }

      .title {
        font-size:14px;
        margin-bottom:2px;

        &:hover {
          text-decoration: underline;
        }
      }

      .desc {
        font-size: 12px;
      }
    }


    .options {
      position: absolute;
      right: 5px;
      top:5px;
      display:inline-block;
    }
  }
}
