@import '../../../../../style/snippet.scss';


.menu-bar-line {
  height:100%;
  width:100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .uii-button {
    @include disable-select();
    position: relative;

    width:100%;
    display: block;
    font-family:'Verdana, Arial, Helvetica, sans-serif';
    letter-spacing: 1px;
    -webkit-font-smoothing: auto;

    padding: 10px 0;
    color:#ccc;

    .text-wrapper {
      position: relative;
      writing-mode: vertical-rl;
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: vertical-rl;

      width:100%;
      font-size:12px;
      padding-right:2.3px;

    }


    .icon-wrapper {
      position: relative;
      text-align: center;
      padding-bottom: 3px;

      font-size: 12px;


      img {
        width:1em;
      }
    }


    &:hover {
      background-color: #072b3c;
    }

    &.active {
      //background-color: #0b2029;

      &:before {
        display: block;
        content: " ";
        width: 20px;
        left: 17px;
        height: 80%;
        border-radius: 50%;
        box-shadow: 0 0 10px 3px rgba(49, 140, 239, 0.67);
        z-index: 0;
        position: absolute;
        background-color: rgba(49, 140, 239, 0.9);
      }
    }
  }


  &.right {
    .uii-button {

      &.active {
        //background-color: #0b2029;

        &:before {
          left: 17px;
        }
      }
    }
  }

  &.left {
    .uii-button {

      &.active {
        //background-color: #0b2029;

        &:before {
          right: 13px;
        }
      }
    }
  }

}




.light-theme {
  .menu-bar-line {
    .uii-button {
      color:#5a5a5a;

      &:hover {
        background-color: #e6e6e6;
      }

      &.active {
        background-color: #e0e0e0;
      }
    }
  }
}
