.node-tree-wrapper {
  -webkit-font-smoothing: auto;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.5px;

  height:100%;
  text-align: left;
  overflow: auto;
}


.graph-node {
  .item {
    font-size:12px;
    cursor: pointer;
  }
}

ul,
li
{
  margin: 0;
  padding: 0;
}
ul.graph-node
{
  > li
  {
    &.item
    {
      position: relative;

      font-size: 12px;
      white-space: nowrap;

      > .node-show-sub
      {
        padding: 3px;
        cursor: pointer;
        color: #aaa;
      }
      > .node-icon
      {
        padding-right: 5px;
        color: #729fb5;
      }
      > .node-name
      {
        padding-right: 5px;
        color: #eee;
        letter-spacing: 0.5px;
        padding-right: 20px;
      }
      > .node-tid
      {
        float: right;
        padding-right: 5px;
        color: #585e63;
      }

      > .node-options
      {
        display: block;
        height: 0;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        box-sizing: border-box;
        transition: height 0.3s, opacity 0.3s;
      }
      > input
      {
        font-size: 16px;
        padding: 5px 10px;
        color: #fff;
        border: 1px solid #676464;
        border-radius: 5px;
        outline: none;
        background-color: #383838;
      }
      > button
      {
        font-size: 16px;
        float: right;
        padding: 5px 10px;
        cursor: pointer;
        transition: all .2s;
        color: #e8f0f9;
        border: 1px solid #a6cef9;
        border-radius: 5px;
        outline: none;
        background-color: #3b99fc;
        &:hover
        {
          box-shadow: inset 0 0 10px rgba(255,255,255,.5);
        }
        &:active
        {
          box-shadow: inset 0 0 10px rgba(0,0,0,.5);
        }
      }

      > .indent
      {
        float: left;
        height: 1px;
      }

      &:hover {
        .node-options {
          height: 30px;
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
}



.light-theme {


  ul.graph-node
  {
    > li
    {
      &.item
      {
        > .node-show-sub
        {
          color: #aaa;
        }
        > .node-icon
        {
          color: #729fb5;
        }
        > .node-name
        {
          color: #333;
        }
        > input
        {
          color: #fff;
          border-color:#676464;
          background-color: #383838;
        }
        > button
        {
          color: #e8f0f9;
          border-color:#a6cef9;
          background-color: #3b99fc;
          &:hover
          {
            box-shadow: inset 0 0 10px rgba(255,255,255,.5);
          }
          &:active
          {
            box-shadow: inset 0 0 10px rgba(0,0,0,.5);
          }
        }
      }
    }
  }
}
