.tool.youtube {
  .search-box {
    position: absolute;
    width : 100%;
    padding: 10px;
    text-align: center;
  }

  .selection-box {
    position: absolute;
    width: 100%;
    top: 48px;
    height: 100px;
    background-color: #000;
    padding: 5px 10px;
    text-align: center;

    .item {
      display: inline-block;
      position: relative;

      .trash {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: red;
        color: #fff;
        border-radius: 50%;
        width: 25px;
        cursor: pointer;
        height: 25px;
      }

      iframe {
        height: 90px;
        width: 160px;
      }

    }
  }

  .result-box {
    position: absolute;
    top:48px;
    bottom:0;
    width: 100%;

    &.with-selection-box {
      top: 148px;
    }

    .record {
      position: relative;
      padding: 0 1em;
      margin-bottom: 1em;
      height: 7.5em;

      &:first-child {
        margin-top: 1em;
      }



      .preview {
        position: relative;
        display: inline-block;
        width: 12em;
        height: 7.5em;

        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          font-size: 64px;
          color: #ffffff;
          text-align: center;
          top: 0;
          left:0;
          background-color: rgba(0,0,0,0.6);
          z-index: 1;
          border:0;

          opacity:0;
          pointer-events: none;
          transition: opacity 0.3s;
        }

        &:hover {
          .overlay {
            opacity: 1;
            pointer-events: all;
            cursor: pointer;
          }
        }
      }

      .info {
        position: absolute;
        left:13em;
        right:1em;
        top:0px;

        display: inline-block;
        height: 100%;

        .title {
          padding: 10px;
          padding-top:0;
          font-size: 1.3em;
          font-weight: 600;
          color: #212121;
          cursor: pointer;

          .hidden-after {
            margin-left: 5px;
            display: none;
          }

          &:hover {
            text-decoration: underline;
            .hidden-after {
              display: inline;
            }
          }
        }

        .desc{
          padding-left:10px;
          font-size:1em;
        }

        .addition {
          position: absolute;
          bottom:0;
          right:0;
        }
      }

      &.selected {
        background-color: #000;
        color:#fff;
        .title {
          color : #fff;
        }
      }

    }
  }
}



.light-theme {
  .tool.youtube {

  }
}
