.ice2-item-viewer {
  >.title {
    border-bottom: 2px solid #d2d2d2;
    padding-bottom: 5px;


    .type-name {
      font-size: 16px;
      font-weight: 700;
      padding: 0 5px;
      color: #393d42;
    }

    .tid {
      font-size: 14px;
    }

    .launch-layer {
      color:#000;
      cursor: pointer;
      margin-right: 5px;
      margin-left: 5px;
    }

    &.right {
      .launch-layer {
        float:right;
        margin-left: 0;
      }
    }
  }


  overflow: auto;
}
