
.guide-line-layer {
  position: absolute;
  left:0;
  right:0;

  width: 100%;
  height:100%;

  pointer-events: none;

  z-index: 1;

  .text {
    position: absolute;
    background-color: rgba(0,0,0,.4);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    line-height: 1;
    font-size: 12px;
  }

  .line {
    position: absolute;
    background-color: #00edff;
    opacity:0.6;

    &.v {
      width:1px;
      top:0;
      bottom:0;


      background: repeating-linear-gradient(180deg,#000000,#000000 10px,#ffffff 0,#ffffff 20px);
    }

    &.h {
      height:1px;
      left:0;
      right:0;

      background: repeating-linear-gradient(90deg,#000000,#000000 10px,#ffffff 0,#ffffff 20px);
    }



    //&.grid {
    //  background-color: rgb(166, 255, 0);
    //}
    //
    //&.row {
    //  background-color: rgb(0, 105, 255);
    //}
    //
    //&.column {
    //  background-color: rgb(255, 108, 13);
    //}
    //
    //&.layer {
    //  background-color: rgb(1, 194, 255);
    //}
  }
}
