.balanced-item-tray {
  width:100%;
  height: 100%;


  .balanced-item {
    display: inline-block;
    height: 100%;

    border-right: 1px solid #11242d;

    &:last-child {
      border-right:0;
    }

    text-align: center;
  }


  &.styling-button-set{
    button {
      width:100%;
      outline:none;
      color : #c9d3d8;
      cursor: pointer;

      background-color: rgba(255, 255, 255, 0.24);
      border-radius: 30px;

      &:hover {
        color : #fff;
      }

      &:active {
        background-color: #115b92;
      }

      &.active {
        background-color: #0b79ca;
      }
    }
  }
}
