.index {
	.background {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;

		.milkyway-svg {
			left: 50%;
			top: 50%;
			margin-left: -712.5px;
			margin-top: -249px;
			width: 1425px;
			height: 498px;
			display: inline-block;
			position: fixed;
      mix-blend-mode: color-dodge;
      opacity: 0.3;
			filter: blur(25px);

			svg {
				display: inline-block;
				vertical-align: bottom;
			}

			&::before {
				height: 100%;
				width: 0;
				display: inline-block;
				content: " ";
			}
		}

		.milkyway-graphics {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		&:before {
			width: 0;
			height: 100%;
			vertical-align: middle;
			display: inline-block;
			content: " ";
		}
	}


  button.enter {
    transition: .5s;
    font-family:'Nanum Square';
    position: fixed;
    z-index: 99;
    width:200px;
    font-size:36px;
    left:50%;
    top:70%;
    margin-left:-100px;
    cursor: pointer;
    outline:none;

    color:rgba(255,255,255,0.7);
    text-shadow : 0px 0px 10px rgba(255,255,255,0.2);

    &:hover {
      color:rgba(255,255,255,1);
      text-shadow : 0px 0px 10px rgba(255,255,255,0.7);
    }

    &:active {
      text-shadow : 0px 0px 30px rgba(255,255,255,0.7);
    }
  }
}
