.tool.curator {

  .title-box {
    font-size: 16px;
    padding: 5px;
    width: 100%;

    text-align: center;
    font-weight: 200;
    background-color: #fff;
    border-bottom: 1px solid #dadada;
    box-shadow: 0 0 5px 0 hsla(0,0%,100%,.6);
    text-shadow: 0 2px 0 rgba(0,0,0,.15);
  }
}



.light-theme {
  .tool.curator {

  }
}
