.children-modifier {
  position: relative;


  .options {

    >.label {
      height:30px;
      background-color: #0b79ca;
      padding:8px;
      font-size:14px;
      line-height:1;
      padding-left:10px;
    }


    .option {

      padding:10px;
      border-bottom: 1px solid #0e3344;

      .label {
        height: 20px;
        background-color: transparent;
        font-size: 12px;
        line-height: 1;
        padding: 4px;
        margin-left:-10px;
        margin-right: -10px;
        /* background-color: #0b242f; */
        padding-left: 10px;
      }


      &.active {
        background-color: rgba(2, 57, 80, 0.7);
      }
    }
  }

  //
  //.balanced-button-set {
  //  button {
  //    width:100%;
  //    outline:none;
  //    color : #c9d3d8;
  //
  //    &:hover {
  //      color : #fff;
  //      cursor: pointer;
  //    }
  //
  //    &.active {
  //      background-color: #0b79ca;
  //      border-radius: 30px;
  //    }
  //  }
  //}
}
