
.ci-wrapper{
  width:400px;
  height:400px;
  position: relative;

  transform: scale(0.5);

  .ci-wrapper-inner{
    width:400px;
    height:400px;
    /*background-color: #000;*/
    position: relative;

    transform: rotate(10deg);



    animation: rotate-ci 3s ease-in-out 0s infinite alternate;




    .box{
      width:50px;
      height:50px;

      position: absolute;

      margin-left:-25px;
      margin-top:-25px;
    }

    .box1{
      background-color:#d1d2d4 ;

      left:145px;
      top:145px;

      animation: box1 2s ease-in-out 1s infinite alternate;

    }

    .box2{
      background-color:#ffdf4f ;

      left:200px;
      top:145px;

      height:55px;

      margin-top:-30px;

      animation: box2 2s ease-in-out 2s infinite alternate;
    }
    .box3{
      background-color:#d1d2d4 ;

      left:255px;
      top:145px;

      animation: box3 2s ease-in-out 0s infinite alternate;
    }
    .box4{
      background-color:#4b92cc ;

      left:145px;
      top:200px;

      width:55px;

      margin-left: -30px;

      animation: box4 2s ease-in-out 4s infinite alternate;
    }
    .box5{
      background-color:#d1d2d4 ;

      left:200px;
      top:200px;


      animation: box5 2s ease-in-out 0s infinite alternate;
    }
    .box6{
      background-color:#1ea38b ;

      left:255px;
      top:200px;

      width:55px;

      animation: box6 2s ease-in-out 1s infinite alternate;
    }
    .box7{
      background-color:#d1d2d4 ;

      left:145px;
      top:255px;

      animation: box7 2s ease-in-out 2s infinite alternate;
    }
    .box8{
      background-color:#ee5b35 ;

      left:200px;
      top:255px;

      height:55px;

      animation: box8 2s ease-in-out 4s infinite alternate;
    }
    .box9{
      background-color:#d1d2d4 ;

      left:255px;
      top:255px;

      animation: box9 2s ease-in-out 4s infinite alternate;
    }

  }

}



@keyframes box1 {
  0%   {}
  100% {left:100px; top:100px;}
}

@keyframes box2 {
  0%   {}
  100% {left:200px; top:100px;}
}

@keyframes box3 {
  0%   {}
  100% {left:300px; top:100px;}
}

@keyframes box4 {
  0%   {}
  100% {left:100px; top:200px;}
}

@keyframes box5 {
  0%   {}
  /*100% {left:100px; top:100px;}*/
}

@keyframes box6 {
  0%   {}
  100% {left:300px; top:200px;}
}

@keyframes box7 {
  0%   {}
  100% {left:100px; top:300px;}
}

@keyframes box8 {
  0%   {}
  100% {left:200px; top:300px;}
}

@keyframes box9 {
  0%   {}
  100% {left:300px; top:300px;}
}

@keyframes rotate-ci {
  0% {transform: rotate(10deg)}
  50% {transform: rotate(130deg)}
  80% {transform: rotate(10deg)}
  100% {transform: rotate(10deg)}
}
