.geometry-node-display {


  .preset-panel, .sementics {
    text-align: center;
    >.title {
      text-align: center;
      font-size: 16px;
      font-weight: 200;
      padding: 5px;
      background-color: #fff;
      border-bottom: 1px solid #dadada;
      box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.6);
      text-shadow: 0 2px 0px rgba(0, 0, 0, 0.15);
    }

    .form {
      font-size: 16px;
      font-weight: 200;
      padding: 5px;
      background-color: #fff;
      border-bottom: 1px solid #dadada;
      box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.6);
      //text-shadow: 0 2px 0px rgba(0, 0, 0, 0.15);
      text-align: left;
    }



    .presets {
      display:inline-block;
      .preset {
        display: inline-block;
        background-color: #fff;
        padding:5px;
        margin: 5px;
        transition: all .3s;

        &:last-child {
          margin-right: 0;
        }

        &:first-child {
          margin-left:0;
        }

        &:hover {
          background-color: #408be6;
          color:#fff;
        }


        .title {
          text-align: center;
          cursor: pointer;
        }

        .preset-grid {
          position: relative;

          .cell {
            &:before {
              display: inline-block;
              content : " ";
              height: 100%;
              vertical-align: middle;
            }

            .text {
              vertical-align: middle;
            }

            background-color: #a8daff;
            text-align: center;
            color: #fff;
            box-shadow: 0 0 10px 0 rgba(146, 207, 253, 0.84);



          }
        }
      }
    }
  }

  .viewport {
    text-align: center;

    >.title {
      text-align: center;
      font-size: 16px;
      font-weight: 200;
      padding: 5px;
      background-color: #fff;
      border-bottom: 1px solid #dadada;
      box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.6);
      text-shadow: 0 2px 0px rgba(0, 0, 0, 0.15);
    }

    .perspective {
      display: inline-block;
      position: relative;

      .cell {
        background-color: #0e8be6;
        text-align: center;
        color: #fff;
        box-shadow: 0 0 10px 0 #408be6;


        &.empty {
          border: 2px dashed #0e8be6;
          background-color: rgba(64, 139, 230, 0.24);
          color: #000;

          cursor: pointer;
        }



        &:before {
          display: inline-block;
          content : " ";
          height: 100%;
          vertical-align: middle;
        }

        .key {
          position: absolute;
          left: -5px;
          font-weight: bold;
          letter-spacing: 1.5px;
          top: -13px;
          text-transform: uppercase;
          z-index: 4;
          padding: 1px 5px;
          background-color:rgba(37, 89, 156, 0.8);
          color: #fff;
        }

        .actions {
          position: absolute;
          left:0;
          top:0;
          width:100%;
          height: 100%;
          z-index: 2;

          background-color: rgba(0,0,0,0.5);
          opacity:0;
          transition: opacity 0.3s;

          &:hover {
            opacity: 1;
          }


          .action-container {
            position: absolute;
            top:50%;
            margin-top:-13px;
            text-align: center;
            width: 100%;

            white-space: nowrap;
            .btn {
              color:#fff;
              font-weight:200;
              border-radius: 5px;
              padding: 3px;
              border: 1px solid rgba(255, 255, 255, 0.85);
              background-color: rgba(0,0,0,0.6);
              cursor: pointer;

              margin-right: 3px;

              &:last-child {
                margin-right:0px;
              }
            }


            .action {
              border-radius: 5px;
              border:1px solid #fff;
            }
          }
        }

        .display-wrapper {
          display: inline-block;
          height: inherit;
          width: 100%;
          overflow: hidden;
          .contents {
            display: inline-block;
            vertical-align: middle;
            height: inherit;
            width: 100%;

            .icon-center {
              font-size:20px;
              position: absolute;
              top:50%;
              margin-top:-10px;
              left:50%;
              margin-left:-10px;
            }
          }
        }





        .react-resizable-handle {
          position: absolute;
          right: 5px;
          bottom: 5px;
          display: block;
          width: 5px;
          height: 5px;
          border-radius: 5px;
          background-color: #000;
          cursor: crosshair;
        }
      }
    }
  }
}


// for global
.action-container {



  .action {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    border:1px solid #fff;
    margin:3px;
    cursor: pointer;
    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}
