.tool.elements-palette {

  .search-box {
    margin:5%;
    width:90%;
  }

  ul {
    margin:0;
    padding:0;


  }



  .elements-groups {
    width:100%;

    .elements-group {
      width:100%;
      position: relative;

      .group-head {
        position: relative;
        width: 100%;
        height: 25px;
        /* background-color: #0b79ca; */
        border: 2px solid #0b79ca;
        border-width: 2px 0 2px 0;
        box-sizing: border-box;
        padding: 1px;
        text-align: left;
        padding-left:10px;
        font-size: 14px;


        .toggle-button {
          position: absolute;
          right:0px;
          top:0px;
          width:20px;

        }

        &.toggle-able {

          cursor: pointer;
        }
      }


      .group-items {
        width:100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding:5px;


        .item {

          display: inline-block;
          padding: 5px;
          /* border: 2px solid #3494da; */
          margin: 2px;
          background-color: #0b79ca;
          border-radius: 10px;


        }
      }

      span.search-matched {
        background-color: #ead000;
        -webkit-border-radius: 5px;
        padding: 3px;
        color: #333;
        margin: -3px 1px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }
  }
}
